<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Panel</title>
    <link type="text/css" rel="stylesheet" href="/static/admin/css/styles.css">
    <link type="text/css" rel="stylesheet" href="/static/admin/css/fonts.css">
    <link type="text/css" rel="stylesheet" href="/static/admin/plugins/bootstrap/dist/css/bootstrap.min.css">
    <link href="/static/admin/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="/static/admin/css/sb-admin-2.css" rel="stylesheet">
    <link href="/static/admin/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 font-yekan">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">لطفا وارد شوید</h3>
                </div>
                <div class="panel-body">
                    <form id="admin_login">
                        {% module xsrf_form_html() %}
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control text-center" maxlength="11" placeholder="شماره موبایل" name="mobile" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control text-center" placeholder="کلمه عبور" name="password" type="password" value="">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">مرا به خاطر بسپار
                                </label>
                            </div>
                            <div class="row text-center errors" style="color: red">

                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button class="btn btn-lg btn-success btn-block admin-login-btn">ورود</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/plugins/jquery/jquery.min.js"></script>

<script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>

<script src="/static/admin/plugins/metisMenu/metisMenu.min.js"></script>

<script src="/static/admin/js/sb-admin-2.js"></script>

<script>
    var loader = '<img src="{{ static_url('images/loading.gif') }}" width="20" height="20">';
    var __a = true;
    $('#admin_login').submit(function(e){
        if(__a){
            __a = false;
            e.preventDefault();
            var btn = $('.admin-login-btn') ;
            btn.html(loader);
            var postData = $("#admin_login").serializeArray();
            jQuery.ajax(
                {
                    url: '',
                    type: "post",
                    data: postData,
                    success: function (response) {
                        var status = response['status'];
                        var value = response['value'];
                        var messages = response['messages'];
                        if (!status) {
                            var error = '';
                            for(var i = 0; i < messages.length ; i++){
                                error += messages[i] + '<br>';
                            }
                            if(error == '')
                                error = 'متاسفانه در سیستم خطایی به وجود آمده، لطفا دوباره امتحان کنید.';
                            $('.errors').html(error);
                            btn.html('ورود');
                            __a = true;
                        }else{
                            location.href = '{{ reverse_url('admin:dashboard') }}';
                        }
                    },
                    error: function () {
                        Alert.render('error', function(){
                            btn.html('ورود');
                            __a = true;
                        });
                    }
                });
        }
    });
</script>
</body>

</html>
