{% extends '../admin_base.html' %}

{% block other_css %}
<link rel="stylesheet" href="{{ static_url('plugins/DatePicker/pwt-datepicker.css') }}">
<link rel="stylesheet" href="{{ static_url('plugins/Lc_Switch/lc_switch.css') }}">
<link rel="stylesheet" type="text/css" href="/static/plugins/bootstrap-fileupload/bootstrap-fileupload.css" />
{% end block other_css %}

{% block user_management %}
<li class="active">
    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> مدیریت کاربر<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a class="active" href="/admin/user_management/general_info">اطلاعات عمومی</a>
        </li>
        <li>
            <a href="/admin/user_management/search_patterns">جستجو و الگوها</a>
        </li>
        <li>
            <a href="/admin/user_management/access_to_source">دسترسی به منابع خبری</a>
        </li>
        <li>
            <a href="/admin/user_management/bolton_management">مدیریت بولتن</a>
        </li>
        <li>
            <a href="/admin/user_management/charts_content">نمودار و تحلیل محتوا</a>
        </li>
        <li>
            <a href="">مدیریت زیر مجموعه</a>
        </li>
        <li>
            <a href="">کلمات کلیدی</a>
        </li>
        <li>
            <a href="/admin/user_management/user_group">مدیریت گروه های کاربر</a>
        </li>
    </ul>
</li>
{% end block user_management %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>اطلاعات عمومی کاربران</span> </div>
                    <div class="panel-body">
                        <div class="show_box">
                            <div class="box_header">
                                <span>فهرست کاربران</span>
                                <div class="new_user_btn" data-toggle="modal" href="#new_user_modal">
                                    <i class="fa fa-plus"></i>افزودن
                                </div>
                                <div class="search_user_btn" data-toggle="modal" href="#search_user_modal">
                                    <i class="fa fa-search"></i>جستجوی پیشرفته
                                </div>
                            </div>
                            <div class="box_body">
                                <table class="table table-bordered source_news_table users-table">
                                    <tr>
                                        <td>سازمان</td>
                                        <td>نام خانوادگی</td>
                                        <td>نام کاربری</td>
                                        <td>ایمیل</td>
                                        <td>آخرین بازدید</td>
                                        <td>شماره تلفن</td>
                                        <td>کلمات کلیدی</td>
                                        <td>مدیریت زیرمجموعه</td>
                                        <td>وضعیت</td>
                                        <td>عملیات</td>
                                    </tr>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user['organization'] }}</td>
                                            <td>{{ user['family'] }}</td>
                                            <td>{{ user['name'] }}</td>
                                            <td>{{ user['email'] }}</td>
                                            <td>93/06/02</td>
                                            <td>{{ user['mobile'] }}</td>
                                            <td>فعال</td>
                                            <td>فعال</td>
                                            <td>{% if user['status'] == 'active' %}فعال{% elif user['status'] == 'deactive' %}غیر فعال{% end %}</td>
                                            <td>
                                                <i class="fa fa-pencil"></i>
                                                <i class="fa fa-trash-o"></i>
                                            </td>
                                        </tr>
                                    {% end %}
                                    {% if not len(users) %}
                                        <tr class="empty">
                                            <td colspan="10">موردی وجود ندارد.</td>
                                        </tr>
                                    {% end %}
                                </table>
                            </div>
                            <div class="box_footer">
                                <div class="row margin-top-10">
                                    <div class="col-xs-2">
                                        <button class="btn R_butt_blue">چیدن موضوعات</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade in" id="new_user_modal" tabindex="-1" role="basic" aria-hidden="false">
        <div class="modal-dialog" style="font-family: Yekan;width: 60%">
            <div class="modal-content" style="border-radius: 7px !important">
                <div class="show_box">
                    <div class="box_header">
                        <div class="row">
                            <div class="col-xs-11">
                                <span>اضافه کردن کاربر</span>
                            </div>
                            <div class="col-xs-1">
                                <span class="cursor fa fa-times"
                                      style="font-size:12pt;color: #828282;margin-top: 5px;cursor: pointer"
                                      data-dismiss="modal" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="box_body" style="padding: 50px 10px">
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2 form_modal_body">
                                <form id="add_user" enctype="multipart/form-data">
                                    {% module xsrf_form_html() %}
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <span class="form_label">نام</span>
                                        </div>
                                        <div class="col-xs-9">
                                            <input type="text" name="name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-xs-3">
                                            <span class="form_label">نام خانوادگی</span>
                                        </div>
                                        <div class="col-xs-9">
                                            <input type="text" name="family" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-xs-3">
                                            <span class="form_label">نام سازمان</span>
                                        </div>
                                        <div class="col-xs-9">
                                            <input type="text" name="organization" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-xs-3">
                                            <span class="form_label">رمز عبور</span>
                                        </div>
                                        <div class="col-xs-9">
                                            <input type="password" name="password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-xs-3">
                                            <span class="form_label">شماره تلفن</span>
                                        </div>
                                        <div class="col-xs-9">
                                            <input type="text" maxlength="11" name="phone" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-xs-3">
                                            <span class="form_label">شماره موبایل </span>
                                        </div>
                                        <div class="col-xs-9">
                                            <input type="text" maxlength="11" name="mobile" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-xs-3">
                                            <span class="form_label">شماره نمابر </span>
                                        </div>
                                        <div class="col-xs-9">
                                            <input type="text" name="fax" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-xs-3">
                                            <span class="form_label">ایمیل </span>
                                        </div>
                                        <div class="col-xs-9">
                                            <input type="text" name="email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-xs-3">
                                            <span class="form_label">وضعیت کاربر</span>
                                        </div>
                                        <div class="col-xs-9">
                                            <select name="status" class="select">
                                                <option value="active">فعال</option>
                                                <option value="deactive">غیرفعال</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-xs-3">
                                            <span class="form_label">خوش آمد گویی</span>
                                        </div>
                                        <div class="col-xs-9">
                                            <select name="welcome" class="select">
                                                <option value="organization">سازمان</option>
                                                <option value="manager">مدیر</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-xs-3">
                                            <span class="form_label">تاریخ عضویت</span>
                                        </div>
                                        <div class="col-xs-1">
                                            <span class="form_label">از</span>
                                        </div>
                                        <div class="col-xs-3">
                                            <input type="text" name="register_start_date" class="datePicker form-control">
                                        </div>
                                        <div class="col-xs-1">
                                            <span class="form_label">تا</span>
                                        </div>
                                        <div class="col-xs-3">
                                            <input type="text" name="register_end_date" class="datePicker form-control">
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-xs-3">
                                            <span class="form_label">دسترسی به آرشیو</span>
                                        </div>
                                        <div class="col-xs-1">
                                            <span class="form_label">از</span>
                                        </div>
                                        <div class="col-xs-3">
                                            <input type="text" name="archive_start_date" class="datePicker form-control">
                                        </div>
                                        <div class="col-xs-1">
                                            <span class="form_label">تا</span>
                                        </div>
                                        <div class="col-xs-3">
                                            <input type="text" name="archive_end_date" class="datePicker form-control">
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-xs-3">
                                            <span class="form_label">گروه کاربری</span>
                                        </div>
                                        <div class="col-xs-9">
                                            <select name="group" class="select">
                                                {% for g in user_groups %}
                                                    <option value="{{ g['id'] }}">{{ g['name'] }}</option>
                                                {% end %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-xs-3">
                                            <span class="form_label">عکس کاربر</span>
                                        </div>
                                        <div class="col-xs-9">
                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <div id="photo_show" class="fileupload-new thumbnail" style="width: 184px; height: 134px;">
                                                    <img  src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                                </div>
                                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                                <div>
                                                    <span class="btn backgroundBlue colorWhite btn-file">
                                                    <span data-toggle="modal" href="#cropper-foodlist" class="fileupload-new"><i class="fa fa-paper-clip"></i> انتخاب تصویر </span>
                                                    <span class="fileupload-exists"><i class="fa fa-undo"></i> تغییر</span>
                                                    <input name="pic" type="file" class="default" />
                                                    </span>
                                                    <a href="#" class="btn backgroundRed colorWhite fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> حذف</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>

                                    <div class="row text-center margin-top-10">
                                        <button type="submit" class="btn R_butt_green add-user-btn">افزودن</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="search_user_modal" tabindex="-1" role="basic" aria-hidden="false">
        <div class="modal-dialog" style="font-family: Yekan;width: 60%">
            <div class="modal-content" style="border-radius: 7px !important">
                <div class="show_box">
                    <div class="box_header">
                        <div class="row">
                            <div class="col-xs-11">
                                <span>جستجوی کاربران</span>
                            </div>
                            <div class="col-xs-1">
                                <span class="cursor fa fa-times"
                                      style="font-size:12pt;color: #828282;margin-top: 5px;cursor: pointer"
                                      data-dismiss="modal" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="box_body" style="padding: 50px 10px">
                        <form>
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1 form_modal_body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <span class="form_label">نام کاربری</span>
                                                </div>
                                                <div class="col-xs-9">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <span class="form_label">نام و نام خانوادگی</span>
                                                </div>
                                                <div class="col-xs-9">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <span class="form_label">نام سازمان</span>
                                                </div>
                                                <div class="col-xs-9">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <span class="form_label">شماره موبایل</span>
                                                </div>
                                                <div class="col-xs-9">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <span class="form_label">شماره تلفن</span>
                                                </div>
                                                <div class="col-xs-9">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <span class="form_label">شماره نمابر</span>
                                                </div>
                                                <div class="col-xs-9">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <span class="form_label">ایمیل</span>
                                                </div>
                                                <div class="col-xs-9">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <span class="form_label">آدرس</span>
                                                </div>
                                                <div class="col-xs-9">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 form_modal_body">
                                    <div class="row margin-top-10">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="row">
                                                <div class="col-xs-2 ">
                                                    <span class="form_label">تاریخ عضویت</span>
                                                </div>
                                                <div class="col-xs-1">
                                                    <span class="form_label">از</span>
                                                </div>
                                                <div class="col-xs-3">
                                                    <input type="text" class="form-control datePicker">
                                                </div>
                                                <div class="col-xs-1">
                                                    <span class="form_label">تا</span>
                                                </div>
                                                <div class="col-xs-3">
                                                    <input type="text" class="form-control datePicker">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="row">
                                                <div class="col-xs-2 ">
                                                    <span class="form_label">دسترسی به آرشیو</span>
                                                </div>
                                                <div class="col-xs-1">
                                                    <span class="form_label">از</span>
                                                </div>
                                                <div class="col-xs-3">
                                                    <input type="text" name="archive_start_date" class="form-control datePicker">
                                                </div>
                                                <div class="col-xs-1">
                                                    <span class="form_label">تا</span>
                                                </div>
                                                <div class="col-xs-3">
                                                    <input type="text" name="archive_end_date" class="form-control datePicker">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="form_label">جستجوی ساده</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="checkbox">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="form_label">جستجوی پیشرفته</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="checkbox">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="form_label">پالایش خبر</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="checkbox">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="form_label">الگوی منابع خبری</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="checkbox">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="form_label">الگوی جستجو</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="checkbox">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="form_label">افزودن کلمات کلیدی</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="checkbox">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="form_label">ویرایش کلمات کلیدی</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="checkbox">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="form_label">مدیریت زیر مجموعه</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="checkbox">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="form_label">بولتن ساز</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="checkbox">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="form_label">بولتن ساز خودکار</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="checkbox">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="form_label">نمودار و آمار</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="checkbox">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="form_label">نمودار بولتن</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="checkbox">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="form_label">تحلیل محتوا</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="checkbox">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="form_label">تحلیل محتوای بولتن</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="checkbox">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 form_modal_body">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <h5>نمایش لیست کاربران بر اساس</h5>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="form_label">نام کاربری</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="checkbox">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="form_label">تاریخ عضویت</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="checkbox">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="form_label">آخرین بازدید</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="checkbox">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 margin-top-10">
                                    <div class="row">
                                        <div class="col-md-12 text-left">
                                            <button class="btn R_butt_light_gray" data-dismiss="modal">انصراف</button>
                                            <button class="btn R_butt_orange">از نو</button>
                                            <button class="btn R_butt_green">جستجو</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% end block container %}

{% block other_scripts %}
<script type="text/javascript" src="{{ static_url('plugins/jquery-validation/dist/jquery.validate.min.js') }}"></script>
<script src="{{ static_url('plugins/DatePicker/pwt-date.js') }}"></script>
<script src="{{ static_url('plugins/DatePicker/pwt-datepicker.js') }}"></script>
<script src="{{ static_url('plugins/Lc_Switch/lc_switch.min.js') }}"></script>
<script type="text/javascript" src="/static/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
<script>
    $(".datePicker").val("").pDatepicker();
    $('input[type=checkbox]').lc_switch();

    jQuery.validator.addMethod("iran_mobiles", function (value, element) {
        return this.optional(element) || /^(09\d{9})$/.test(value);
    }, "شماره موبایل را صحیح وارد کنید.");
    jQuery.validator.addMethod("iran_phones", function (value, element) {
        return this.optional(element) || /^(0\d{10})$/.test(value);
    }, "شماره تلفن را صحیح وارد کنید.");

    var frm = $("#add_user").validate({
        errorClass: "colorRed font-size-9",
        rules: {
            mobile: {
                required: true,
                iran_mobiles: true,
                minlength: 11,
                remote: {
                    url: "{{ reverse_url("validation") }}",
                    type: "post",
                    data: {
                        phone: function () {
                            return $("input[name=mobile]").val();
                        },
                        _xsrf: '{{ handler.xsrf_token }}',
                        type: 'mobile'
                    }
                }
            },
            phone: {
                required: true,
                iran_phones: true,
                minlength: 11,
                remote: {
                    url: "{{ reverse_url("validation") }}",
                    type: "post",
                    data: {
                        phone: function () {
                            return $("input[name=phone]").val();
                        },
                        _xsrf: '{{ handler.xsrf_token }}',
                        type: 'phone'
                    }
                }
            },
            email: {
                required: false,
                email: true,
                remote: {
                    url: "{{ reverse_url("validation") }}",
                    type: "post",
                    data: {
                        email: function () {
                            return $("input[name=email]").val();
                        },
                        _xsrf: '{{ handler.xsrf_token }}',
                        type: 'email'
                    }
                }
            },
            name: "required",
            family: "required",
            organization: "required",
            password: "required",
            fax: "required",
            register_start_date: "required",
            register_end_date: "required",
            archive_start_date: "required",
            archive_end_date: "required"
        },
        messages: {
            mobile: {
                required: "شماره موبایل خود را وارد کنید.",
                iran_mobiles: "شماره موبایل را به درستی وارد کنید.",
                minlength: "شماره موبایل باید 11 رقمی باشد.",
                remote: "این شماره موبایل قبلاً ثبت شده است."
            },
            phone: {
                required: "شماره تلفن خود را وارد کنید.",
                iran_phones: "شماره تلفن را به درستی وارد کنید.",
                minlength: "شماره تلفن باید 11 رقمی باشد.",
                remote: "این شماره تلفن قبلاً ثبت شده است."
            },
            email: {
                email: "ایمیل خود را به صورت صحیح وارد کنید.",
                remote: "این ایمیل قبلاً ثبت شده است."
            },
            name: "نام را وارد کنید.",
            family: "نام خانوادگی را وارد کنید.",
            np: "شماره نظام پزشکی را وارد کنید.",
            organization: "سازمان را وارد کنید.",
            password: "رمز عبور را وارد کنید.",
            fax: "شماره نمابر را وارد کنید.",
            register_start_date: "تاریخ عضویت را وارد کنید.",
            register_end_date: "تاریخ عضویت را وارد کنید.",
            archive_start_date: "دسترسی به آرشیو را وارد کنید.",
            archive_end_date: "دسترسی به آرشیو را وارد کنید."
        }
    });

    var loader = '<img src="{{ static_url('images/loading.gif') }}" width="20" height="20">';
    var user = '<tr>\
                    <td>__organization__</td>\
                    <td>__family__</td>\
                    <td>__name__</td>\
                    <td>__email__</td>\
                    <td>93/06/02</td>\
                    <td>__mobile__</td>\
                    <td>فعال</td>\
                    <td>فعال</td>\
                    <td>__status__</td>\
                    <td>\
                        <i class="fa fa-pencil"></i>\
                        <i class="fa fa-trash-o"></i>\
                    </td>\
                </tr>';

    var __a = true;
    $('#add_user').submit(function(e){
        if(__a){
            __a = false;
            e.preventDefault();
            var btn =$('.add-user-btn') ;
            btn.html(loader);
            var formData = new FormData($(this)[0]);
            jQuery.ajax(
                {
                    url: '',
                    type: "post",
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        var status = response['status'];
                        var value = response['value'];
                        if (!status) {
                            Alert.render('error', function(){
                                btn.html('افزودن');
                                __a = true;
                            });
                            return
                        }
                        if (status == 'empty') {
                            Alert.render('empty', function(){
                                btn.html('افزودن');
                                __a = true;
                            });
                            return
                        }
                        Alert.render('success', function(){
                            $('.empty').remove();
                            var s = 'غیر فعال';
                            if(value['status'] == 'active')
                                s = 'فعال';
                            var h = user.replace(/__organization__/g, value['organization']).replace(/__family__/g, value['family'])
                                    .replace(/__name__/g, value['name']).replace(/__email__/g, value['email'])
                                    .replace(/__mobile__/g, value['mobile']).replace(/__status__/g, s);
                            $('table.users-table').append(h);
                            $('#new_user_modal').modal('toggle');
                            btn.html('افزودن');
                            $('#new_user_modal input').val('');
                            __a = true;
                        });
                    },
                    error: function () {
                        Alert.render('error', function(){
                            btn.html('افزودن');
                            __a = true;
                        });
                    }
                });
        }
    });
</script>
{% end block other_scripts %}