{% extends '../admin_base.html' %}

{% block other_css %}
<link rel="stylesheet" href="{{ static_url('plugins/DatePicker/pwt-datepicker.css') }}">
<link rel="stylesheet" href="{{ static_url('plugins/Lc_Switch/lc_switch.css') }}">
<link rel="stylesheet" type="text/css" href="/static/plugins/bootstrap-fileupload/bootstrap-fileupload.css" />
{% end block other_css %}

{% block user_management %}
<li class="active">
    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> مدیریت کاربر<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="/admin/user_management/general_info">اطلاعات عمومی</a>
        </li>
        <li>
            <a href="/admin/user_management/search_patterns">جستجو و الگوها</a>
        </li>
        <li>
            <a href="/admin/user_management/access_to_source">دسترسی به منابع خبری</a>
        </li>
        <li>
            <a href="/admin/user_management/bolton_management">مدیریت بولتن</a>
        </li>
        <li>
            <a href="/admin/user_management/charts_content">نمودار و تحلیل محتوا</a>
        </li>
        <li>
            <a href="">مدیریت زیر مجموعه</a>
        </li>
        <li>
            <a href="">کلمات کلیدی</a>
        </li>
        <li>
            <a class="active" href="/admin/user_management/user_group">مدیریت گروه های کاربر</a>
        </li>
    </ul>
</li>
{% end block user_management %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>مدیریت گروه های کاربری</span> </div>
                    <div class="panel-body">
                        <div class="show_box">
                            <div class="box_header">
                                <span>فهرست کاربران</span>
                            </div>
                            <div class="box_body">
                                <div>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                                            <div class="direction_form display-none close">
                                                <form>
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-3">
                                                            <span class="form_label">نام گروه</span>
                                                        </div>
                                                        <div class="col-md-7 col-sm-7">
                                                            <input type="text" class="form-control">
                                                        </div>
                                                        <div class="col-md-2 col-sm-2 text-left">
                                                            <button class="btn R_butt_green">ثبت</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 text-left pull-left">
                                                    <button class="btn add_direction R_butt_gray">افزودن </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-top-20">
                                        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                                            <table class="table table-bordered source_news_table">
                                                <tr>
                                                    <td>نام گروه</td>
                                                    <td>تعداد اعضا</td>
                                                    <td>امکانات</td>
                                                </tr>
                                                <tr>
                                                    <td>گروه کاربری مهمان</td>
                                                    <td>15</td>
                                                    <td>
                                                        <i class="fa fa-pencil"></i>
                                                        <i class="fa fa-wrench" data-toggle="modal" href="#user_group_modal"></i>
                                                        <i class="fa fa-trash-o"></i>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box_footer">
                                <div class="row margin-top-10">
                                    <div class="col-xs-2">
                                        <button class="btn R_butt_blue">چیدن موضوعات</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade in" id="user_group_modal" tabindex="-1" role="basic" aria-hidden="false">
        <div class="modal-dialog" style="font-family: Yekan;width: 60%">
            <div class="modal-content" style="border-radius: 7px !important">
                <div class="show_box">
                    <div class="box_header">
                        <div class="row">
                            <div class="col-xs-11">
                                <span>تعیین سطح دسترسی ها</span>
                            </div>
                            <div class="col-xs-1">
                                <span class="cursor fa fa-times"
                                      style="font-size:12pt;color: #828282;margin-top: 5px;cursor: pointer"
                                      data-dismiss="modal" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="box_body" style="padding: 50px 10px">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="show_box" data-action="1">
                                    <div class="box_header" style="padding-bottom: 0; font-size: 9pt">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active">
                                                <a class="dir_tab" data-action="1" aria-controls="source" role="tab" data-toggle="tab">جستجو و الگوها</a>
                                            </li>
                                            <li role="presentation">
                                                <a class="dir_tab" data-action="2" aria-controls="content" role="tab" data-toggle="tab">دسترسی به منابع خبری</a>
                                            </li>
                                            <li role="presentation">
                                                <a class="dir_tab" data-action="3" aria-controls="content" role="tab" data-toggle="tab">مدیریت بولتن</a>
                                            </li>
                                            <li role="presentation">
                                                <a class="dir_tab" data-action="4" aria-controls="content" role="tab" data-toggle="tab">نمودار و تحلیل محتوا</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="box_body">
                                        <div class="tab_content" data-action="1">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <span class="form_label">جستجوی ساده</span>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input type="checkbox">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <span class="form_label">جستجوی پیشرفته</span>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input type="checkbox">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <span class="form_label">پالایش اخبار</span>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input type="checkbox">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <span class="form_label">الگوی منابع خبری</span>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input type="checkbox">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-4">
                                                                <span class="form_label">تعداد الگو</span>
                                                            </div>
                                                            <div class="col-md-8 col-sm-8">
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <span class="form_label">الگوی جستجو</span>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input type="checkbox">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-4">
                                                                <span class="form_label">تعداد الگو</span>
                                                            </div>
                                                            <div class="col-md-8 col-sm-8">
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-12 text-left">
                                                        <button class="btn R_butt_light_gray" data-dismiss="modal">انصراف</button>
                                                        <button class="btn R_butt_green">ثبت</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab_content display-none" data-action="2">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="form_modal_body margin-top-10">
                                                            <span class="form_body_title">رسانه / منبع</span>
                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">خبرگذاری</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">پایگاه خبری</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">روزنامه</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form_modal_body margin-top-20">
                                                            <span class="form_body_title">موضوع</span>
                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">سیاسی</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">اقتصادی</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">اجتماعی</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form_modal_body margin-top-20">
                                                            <span class="form_body_title">حوزه</span>
                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">جغرافیایی</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">آسیا</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">ایران</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-12 text-left">
                                                        <button class="btn R_butt_light_gray" data-dismiss="modal">انصراف</button>
                                                        <button class="btn R_butt_green">ثبت</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab_content display-none" data-action="3">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="row">
                                                            <div class="col-md-2 col-sm-3">
                                                                <span class="form_label">نام بولتن</span>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <span class="form_label">ساخت بولتن</span>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input type="checkbox">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <span class="form_label">تعداد بولتن</span>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <span class="form_label">تعداد بخش</span>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <span class="form_label">ساخت بولتن خودکار</span>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input type="checkbox">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <span class="form_label">تعداد بولتن</span>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <span class="form_label">تعداد بخش</span>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <span class="form_label">روزنامه</span>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input type="checkbox">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <span class="form_label">تعداد بولتن</span>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <span class="form_label">تعداد بخش</span>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span class="form_label">مدت ویرایش بولتن</span>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="col-md-1 col-sm-1"><span class="form_label">روز</span></div>
                                                    <div class="col-md-3 col-sm-3">
                                                        <span class="form_label">مدت ویرایش روزنامه</span>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="col-md-1 col-sm-1"><span class="form_label">روز</span></div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-12 text-left">
                                                        <button class="btn R_butt_light_gray" data-dismiss="modal">انصراف</button>
                                                        <button class="btn R_butt_green">ثبت</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab_content display-none" data-action="4">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="form_modal_body margin-top-10">
                                                            <span class="form_body_title">نمودار و آمار</span>
                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">قالب محتوا</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">اهمیت خبر</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">عملکرد منابع خبری بر اساس تعداد اخبار</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row margin-top-10">
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">آمار کلی منابع خبری</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">آمار روزانه انتشار اخبار</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">مهمترین سرفصل های خبری</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row margin-top-10">
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">مهمترین تگ های خبری</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">بازتاب خبری</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">اهمیت خبر در جایگاه رسانه</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form_modal_body margin-top-20">
                                                            <span class="form_body_title">تحلیل محتوا</span>
                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">جهت گیری مثبت و منفی</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">جهت گیری منابع خبری</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">مهمترین خبرسازان</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row margin-top-10">
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">منابع اصلی اخبار 1</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <span class="form_label">منابع اصلی اخبار 2</span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-12 text-left">
                                                        <button class="btn R_butt_light_gray" data-dismiss="modal">انصراف</button>
                                                        <button class="btn R_butt_green">ثبت</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% end block container %}

{% block other_scripts %}
<script src="{{ static_url('plugins/DatePicker/pwt-date.js') }}"></script>
<script src="{{ static_url('plugins/DatePicker/pwt-datepicker.js') }}"></script>
<script src="{{ static_url('plugins/Lc_Switch/lc_switch.min.js') }}"></script>
<script type="text/javascript" src="/static/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
<script>
$('.add_direction').click(function(){
    if($('.direction_form').hasClass('close')){
        $('.direction_form').slideDown();
        $('.direction_form').removeClass('close');
        $('.direction_form').addClass('open');
        $(this).html('بستن');
    }
    else if($('.direction_form').hasClass('open')){
        $('.direction_form').slideUp();
        $('.direction_form').removeClass('open');
        $('.direction_form').addClass('close');
        $(this).html('افزودن ');
    }
});

$('input[type=checkbox]').lc_switch();

$('.dir_tab').click(function(){
    var data_action = $(this).attr('data-action');
    $('.tab_content').css('display','none');
    $('.tab_content[data-action=' + data_action + ']').fadeIn();
});
</script>
{% end block other_scripts %}