
/* Base for label styling */
/*[type="checkbox"]:not(:checked),*/
/*[type="checkbox"]:checked {*/
    /*position: absolute;*/
    /*left: -9999px;*/
    /*display: none;*/
/*}*/

/*[type="checkbox"]:not(:checked) + label,*/
/*[type="checkbox"]:checked + label {*/
    /*position: relative;*/
    /*padding-left: 15px;*/
    /*cursor: pointer;*/
    /*display: inline-block;*/
/*}*/

/* checkbox aspect */
/*[type="checkbox"]:not(:checked) + label:before,*/
/*[type="checkbox"]:checked + label:before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: -7px;*/
    /*width: 13px;*/
    /*height: 13px;*/
    /*border: 1px solid #2f477a;*/
    /*background: #f477a2 ;*/
    /*border-radius: 0;*/
    /*box-shadow: inset 0 0px 1px rgba(0, 0, 0, .3)*/
/*}*/

/* checked mark aspect */
/*[type="checkbox"]:not(:checked) + label:after,*/
/*[type="checkbox"]:checked + label:after {*/
    /*content: '✔';*/
    /*position: absolute;*/
    /*top: -5px;*/
    /*right: 1px;*/
    /*font-size: 13px;*/
    /*line-height: 0.8;*/
    /*color: #4f4f4f;*/
    /*transition: all .2s;*/
/*}*/

/* checked mark aspect changes */
/*[type="checkbox"]:not(:checked) + label:after {*/
    /*opacity: 0;*/
    /*transform: scale(0);*/
/*}*/

/*[type="checkbox"]:checked + label:after {*/
    /*opacity: 1;*/
    /*transform: scale(1);*/
/*}*/

/* disabled checkbox */
/*[type="checkbox"]:disabled:not(:checked) + label:before,*/
/*[type="checkbox"]:disabled:checked + label:before {*/
    /*box-shadow: none;*/
    /*border-color: #bbb;*/
    /*background-color: #ddd;*/
/*}*/

/*[type="checkbox"]:disabled:checked + label:after {*/
    /*color: #999;*/
/*}*/

/*[type="checkbox"]:disabled + label {*/
    /*color: #aaa;*/
/*}*/

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
input[type="checkbox"]+span {
    font: 12pt sans-serif;
    color: #000;
}
input[type="checkbox"]+span:before {
    font: 12pt FontAwesome;
    content: '\00f096';
    display: inline-block;
    width: 16pt;
    padding: 2px 0 0 3px;
    margin-right: 0.5em;
}
input[type="checkbox"]:checked+span:before {
    content: '✔';
}
input[type="checkbox"]:focus+span:before {
    outline: 1px dotted #aaa;
}
input[type="checkbox"]:disabled+span {
    color: #999;
}
input[type="checkbox"]:not(:disabled)+span:hover:before {
    text-shadow: 0 1px 2px #77F;
}
