<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Panel</title>
    <link type="text/css" rel="stylesheet" href="/static/admin/css/styles.css">
    <link type="text/css" rel="stylesheet" href="/static/css/common.css">
    <link type="text/css" rel="stylesheet" href="/static/admin/css/fonts.css">
    <link type="text/css" rel="stylesheet" href="/static/admin/plugins/bootstrap/dist/css/bootstrap.min.css">
    <link href="/static/admin/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="/static/admin/plugins/timeline.css" rel="stylesheet">
    <link href="/static/admin/css/sb-admin-2.css" rel="stylesheet">
    <link href="/static/admin/plugins/morris.css" rel="stylesheet">
    <link href="/static/admin/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

{% block other_css %}
{% end block other_css %}
</head>

<body>

<div id="wrapper">

    <nav class="navbar navbar-default navbar-static-top font-yekan" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">پنل مدیریت نگاه خبری</a>
        </div>

        <ul class="nav navbar-top-links navbar-right pull-left">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> پروفایل</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> تنظیمات</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href=""><i class="fa fa-sign-out fa-fw"></i> خروج</a>
                    </li>
                </ul>
            </li>
        </ul>

        {% block sideBar %}

        <div class="navbar-default sidebar font-yekan" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    {% block content_management %}
                    <li>
                        <a class="active" href=""><i class="fa fa-dashboard fa-fw"></i> مدیریت<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/admin/content_management">مدیریت قالب محتوا</a>
                            </li>
                            <li>
                                <a href="/admin/subject_management">مدیریت موضوعات</a>
                            </li>
                            <li>
                                <a href="/admin/category_management">مدیریت رده</a>
                            </li>
                            <li>
                                <a href="/admin/group_management">مدیریت گروه های خبری</a>
                            </li>
                            <li>
                                <a href="">مدیریت حوزه های جغرافیایی</a>
                            </li>
                            <li>
                                <a href="">مدیریت جهت گیری</a>
                            </li>
                        </ul>
                    </li>
                    {% end block content_management %}
                    {% block source_management %}
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> مدیریت منابع خبری</a>
                    </li>
                    {% end block source_management %}
                    {% block table_management %}
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> مدیریت جداول</a>
                    </li>
                    {% end block table_management %}
                    {% block user_management %}
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> مدیریت کاربر<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="">اطلاعات عمومی</a>
                            </li>
                            <li>
                                <a href="">جستجو و الگوها</a>
                            </li>
                            <li>
                                <a href="">دسترسی به منابع خبری</a>
                            </li>
                            <li>
                                <a href="">مدیریت بولتن</a>
                            </li>
                            <li>
                                <a href="">نمودار و تحلیل محتوا</a>
                            </li>
                            <li>
                                <a href="">مدیریت زیر مجموعه</a>
                            </li>
                            <li>
                                <a href="">کلمات کلیدی</a>
                            </li>
                            <li>
                                <a href="">مدیریت گروه های کاربر</a>
                            </li>
                        </ul>
                    </li>
                    {% end block user_management %}
                    {% block manager_logs %}
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> گزارشات مدیریت<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="">قالب محتوا</a>
                            </li>
                            <li>
                                <a href="">عملکرد منابع خبری بر اساس تعداد اخبار</a>
                            </li>
                            <li>
                                <a href="">آمار کلی منابع خبری</a>
                            </li>
                            <li>
                                <a href="">آمار روزانه انتشار اخبار</a>
                            </li>
                            <li>
                                <a href="">مهمترین سرفصل های خبری</a>
                            </li>
                            <li>
                                <a href="">مهمترین تگ های خبری</a>
                            </li>
                            <li>
                                <a href="">بازتاب خبری</a>
                            </li>
                            <li>
                                <a href="">اهمیت خبر در جایگاه رسانه</a>
                            </li>
                            <li>
                                <a href="">اهمیت خبر</a>
                            </li>
                            <li>
                                <a href="">جهت گیری</a>
                            </li>
                            <li>
                                <a href="">مهمترین خبرسازان + جداول مهمترین خبرسازان</a>
                            </li>
                        </ul>
                    </li>
                    {% end block manager_logs %}
                    {% block logs_charts %}
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> لاگ و نمودار<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="">گزارش بولتن</a>
                            </li>
                            <li>
                                <a href="">آمار اخبار خوانده شده</a>
                            </li>
                            <li>
                                <a href="">آمار اخبار مشکل دار</a>
                            </li>
                            <li>
                                <a href="">آمار اخبار مشکل دار در ادامه خبر</a>
                            </li>
                            <li>
                                <a href="">آمار کاربران</a>
                            </li>
                            <li>
                                <a href="">آمار خرابی</a>
                            </li>
                        </ul>
                    </li>
                    {% end block logs_charts %}
                    {% block manager_settings %}
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> تنظیمات مدیریت<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="">عمومی</a>
                            </li>
                            <li>
                                <a href="">فونت</a>
                            </li>
                            <li>
                                <a href="">درباره ما</a>
                            </li>
                            <li>
                                <a href="">تماس با ما</a>
                            </li>
                        </ul>
                    </li>
                    {% end block manager_settings %}
                </ul>
            </div>
        </div>

        {% end block sideBar %}

    </nav>


    {% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header font-yekan">داشبورد</h1>
            </div>
        </div>
    </div>
    {% end block container %}

</div>
<script src="/static/plugins/jquery/jquery.min.js"></script>

<script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>

<script src="/static/admin/plugins/metisMenu/metisMenu.min.js"></script>

<script src="/static/admin/js/sb-admin-2.js"></script>

{% block other_scripts %}
{% end block other_scripts %}

</body>

</html>
