{% extends admin_base.html %}

{% block content_management %}
    <li class="active">
        <a href=""><i class="fa fa-dashboard fa-fw"></i> مدیریت<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="/admin/content_management">مدیریت قالب محتوا</a>
            </li>
            <li>
                <a href="/admin/subject_management">مدیریت موضوعات</a>
            </li>
            <li>
                <a href="/admin/category_management">مدیریت رده</a>
            </li>
            <li>
                <a href="/admin/group_management">مدیریت گروه های خبری</a>
            </li>
            <li>
                <a class="active" href="/admin/geo_management">مدیریت حوزه های جغرافیایی</a>
            </li>
            <li>
                <a href="">مدیریت جهت گیری</a>
            </li>
        </ul>
    </li>
{% end block content_management %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>ایجاد و مدیریت حوزه های جغرافیایی</span> </div>
                    <div class="panel-body">
                        <div class="show_box" data-action="1">
                            <div class="box_header">
                                <span>فهرست حوزه های جغرافیایی</span>
                                <div class="new_content_btn" data-toggle="modal" href="#new_geo_modal">
                                    <i class="fa fa-plus"></i>ایجاد حوزه جدید
                                </div>
                            </div>
                            <div class="box_body">
                                <div class="content_detail">
                                    <div class="display-inline-block"><span>1. تیتر1</span><span class="margin-right-35 font-size-10">(دارای 1 زیرمجموعه)</span> </div>
                                    <div class="display-inline-block content_icon pull-left">
                                        <i class="fa fa-pencil"></i>
                                        <i class="fa fa-trash-o"></i>
                                    </div>
                                </div>
                                <div class="content_sub_detail">
                                    <div class="display-inline-block"><span>1. تیتر1</span> </div>
                                    <div class="display-inline-block content_icon pull-left">
                                        <i class="fa fa-pencil"></i>
                                        <i class="fa fa-trash-o"></i>
                                    </div>
                                </div>
                                <div class="content_detail">
                                    <div class="display-inline-block"><span>2. اخبار ویژه</span></div>
                                    <div class="display-inline-block content_icon pull-left">
                                        <i class="fa fa-pencil"></i>
                                        <i class="fa fa-trash-o"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="box_footer">
                                <div class="row margin-top-10">
                                    <div class="col-xs-2">
                                        <button class="btn R_butt_blue">چیدن موضوعات</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="show_box display-none" data-action="2">
                            <div class="box_header">
                                <span>اضافه کردن گروه خبری</span>
                            </div>
                            <div class="box_body">
                                <form>
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <div class="row">
                                                <div class="col-xs-3 text-right">
                                                    <span>نام:</span>
                                                </div>
                                                <div class="col-xs-9">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row margin-top-10">
                                                <div class="col-xs-3 text-right">
                                                    <span>زیر مجموعه کردن گروه:</span>
                                                </div>
                                                <div class="col-xs-9">
                                                    <select class="form-control"><option>asd</option><option>asd</option></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3"></div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-xs-2 pull-left">
                                            <button class="btn R_butt_green">افزودن</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade in" id="new_geo_modal" tabindex="-1" role="basic" aria-hidden="false">
        <div class="modal-dialog" style="font-family: Yekan;width: 60%">
            <div class="modal-content" style="border-radius: 7px !important; margin-top: 100px">
                <div class="show_box">
                    <div class="box_header">
                        <div class="row">
                            <div class="col-xs-11">
                                <span>اضافه کردن حوزه جغرافیایی</span>
                            </div>
                            <div class="col-xs-1">
                                <span class="cursor fa fa-times"
                                      style="font-size:12pt;color: #828282;margin-top: 5px;cursor: pointer"
                                      data-dismiss="modal" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="box_body" style="padding: 40px 10px">
                        <form>
                            <div class="row">
                                <div class="col-xs-9">
                                    <div class="row">
                                        <div class="col-xs-3 text-right">
                                            <span>نام:</span>
                                        </div>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-xs-3 text-right">
                                            <span>زیر مجموعه کردن گروه:</span>
                                        </div>
                                        <div class="col-xs-9">
                                            <select class="select"><option>asd</option><option>asd</option></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-xs-2 pull-left">
                                    <button class="btn R_butt_green">افزودن</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% end block container %}

{% block other_scripts %}
{% end block other_scripts %}