{% extends '../admin_base.html' %}

{% block other_css %}
<style>
    .amcharts-chart-div a{
        display: none !important;
    }

    .highcharts-title, .highcharts-button, .highcharts-yaxis-title{
        display: none !important;
    }

    svg > text{
        display: none !important;
    }

    text{
        font-family: Yekan !important;
    }
</style>
{% end block other_css %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>گزارشات آماری</span> </div>
                    <div class="panel-body">
                        <div class="show_box" data-action="1">
                            <div class="box_header">
                                <span>آمار خبر های خوانده شده</span>
                            </div>
                            <div class="box_body">
                                <div class="row margin-top-25">
                                    <div class="col-md-12 col-sm-12">
                                        <div id="chartdiv" style="direction: ltr ;height: 400px; width: 100%; font-size: 15pt; font-family: Yekan !important;"></div>
                                    </div>
                                </div>
                                <div class="row margin-top-15">
                                    <div class="col-md-12 col-sm-12">
                                        <div id="container" style="direction: ltr ;min-width: 310px; height: 400px; margin: 0 auto"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<input type="hidden" name="dataProvider" value="{{ dataProvider }}">
<input type="hidden" name="data" value="{{ data }}">
<input type="hidden" name="categories" value="{{ categories }}">
{% end block container %}

{% block other_scripts %}
<script src="{{ static_url('plugins/Highchart/highcharts.js')}}"></script>
<script src="{{ static_url('plugins/Highchart/exporting.js')}}"></script>
<script src="{{ static_url('plugins/amchart/amcharts.js')}}"></script>
<script src="{{ static_url('plugins/amchart/pie.js')}}"></script>
<script src="{{ static_url('plugins/amchart/light.js')}}"></script>

<script>
var chart = AmCharts.makeChart( "chartdiv", {
    "type": "pie",
    "theme": "light",
    "dataProvider": jQuery.parseJSON($('input[name=dataProvider]').val()),
    "titleField": "title",
    "valueField": "value",
    "labelRadius": 8,

    "radius": "42%",
    "innerRadius": "60%",
    "labelText": "[[title]]",
    "export": {
        "enabled": true
    }
});
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        xAxis: {
            categories: jQuery.parseJSON($('input[name=categories]').val()),
            crosshair: true
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'آمار خبر های خوانده شده',
            data: jQuery.parseJSON($('input[name=data]').val())

        }]
    });
});
</script>

{% end block other_scripts %}