{% extends '../admin_base.html' %}

{% block other_css %}
<link rel="stylesheet" href="{{ static_url('plugins/DatePicker/pwt-datepicker.css') }}">
<style>
    .colorpicker.dropdown-menu{
        width: 148px;
    }
</style>
{% end block other_css %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>تنظیمات عمومی</span> </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                                <form id="set_about_us">
                                    <div class="form_modal_body">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span class="form_label">از تاریخ</span>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9">
                                                        <input name="start-date" class="datePicker form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span class="form_label">تا تاریخ</span>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9">
                                                        <input name="end-date" class="datePicker form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-12 col-sm-12">
                                                <span class="form_label">محتوای صفحه</span>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <textarea name="body" id="editor1" rows="10" cols="80"></textarea>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-12 col-sm-12 text-left">
                                                <button class="btn R_butt_green set-about-us-btn">ثبت اطلاعات</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% end block container %}

{% block other_scripts %}
<script src="{{ static_url('plugins/DatePicker/pwt-date.js') }}"></script>
<script src="{{ static_url('plugins/DatePicker/pwt-datepicker.js') }}"></script>
<script src="{{ static_url('plugins/ckeditor/ckeditor.js') }}"></script>
<script src="{{ static_url('plugins/ckeditor/config.js') }}"></script>
<script src="{{ static_url('plugins/ckeditor/styles.js') }}"></script>
<script>
    $(".datePicker").val("").pDatepicker();
    CKEDITOR.replace('editor1',{
        language: 'fa',
        uiColor: '#F7F7F7',
        extraPlugins: ''
    });
    var loader = '<img src="{{ static_url('images/loading.gif') }}" width="20" height="20">';
    var __a = true;
    $('#set_about_us').submit(function(e){
        if(__a){
            __a = false;
            e.preventDefault();
            var btn = $('.set-about-us-btn') ;
            btn.html(loader);
            var data = new FormData();
            data.append("start-date",$('input[name=start-date]').val());
            data.append("end-date",$('input[name=end-date]').val());
            data.append("body", CKEDITOR.instances.editor1.getData());
            data.append("_xsrf", '{{ handler.xsrf_token }}');
            jQuery.ajax(
                {
                    url: '',
                    type: "post",
                    data: data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    async: true,
                    success: function (response) {
                        var status = response['status'];
                        var value = response['value'];
                        var messages = response['messages'];
                        if (!status) {
                            var error = '';
                            for(var i = 0; i < messages.length ; i++){
                                error += messages[i] + '<br>';
                            }
                            if(error == '')
                                error = 'متاسفانه در سیستم خطایی به وجود آمده، لطفا دوباره امتحان کنید.';
                            Alert.render(error, function(){
                                btn.html('ثبت اطلاعات');
                                __a = true;
                            });
                        }else{
                            Alert.render('success', function(){
                                btn.html('ثبت اطلاعات');
                                __a = true;
                            });
                        }
                    },
                    error: function () {
                        Alert.render('error', function(){
                            btn.html('ثبت اطلاعات');
                            __a = true;
                        });
                    }
                });
        }
    });
</script>
{% end block other_scripts %}