{% extends '../admin_base.html' %}

{% block other_css %}
<style>
    .colorpicker.dropdown-menu{
        width: 148px;
    }
</style>
{% end block other_css %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>تنظیمات عمومی</span> </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                                <table class="table table-bordered source_news_table">
                                    <tr>
                                        <td>نام</td>
                                        <td>ایمیل</td>
                                        <td>پیام</td>
                                        <td>تاریخ</td>
                                        <td>امکانات</td>
                                    </tr>
                                    {% for i in contacts %}
                                        <tr>
                                            <td>{{ i['name'] }}</td>
                                            <td>{{ i['email'] }}</td>
                                            <td>{{ i['message'][:100] }} ...</td>
                                            <td>{{ i['date'] }}</td>
                                            <td>
                                                <i class="fa fa-trash-o delete-contact"></i>
                                                <i class="fa colorBlue fa-eye show-contact" data-open="false" data-id="{{ i['_id'] }}"></i>
                                            </td>
                                        </tr>
                                        <tr data-id="{{ i['_id'] }}" class="message" style="display: none">
                                            <td colspan="5" style="padding: 20px">
                                                {{ i['message'] }}
                                            </td>
                                        </tr>
                                    {% end %}
                                </table>
                                {% module Pagination(**pagination) %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% end block container %}

{% block other_scripts %}
<script>
    $(document).on('click', '.change-page', function(e) {
        var elm = $(e.target).closest('.change-page');
        var _page = elm.attr('data-page');
        location.href = '{{ reverse_url('admin:settings:contact_us_by_page', '__page__') }}'.replace(/__page__/g, _page);
    });
    $(document).on('click', '.show-contact', function(e) {
        var elm = $(e.target);
        var _id = elm.attr('data-id');
        var open = elm.attr('data-open');
        $('tr.message').slideUp();
        if(open == 'true'){
            $('tr.message[data-id=' + _id + ']').slideUp();
            elm.attr('data-open', 'false');
        }else{
            $('tr.message[data-id=' + _id + ']').slideDown();
            elm.attr('data-open', 'true');
        }
    });
</script>
{% end block other_scripts %}