{% extends '../admin_base.html' %}

{% block other_css %}
<link rel="stylesheet" href="{{ static_url('plugins/bootstrap-colorpicker/css/colorpicker.css') }}">
<link rel="stylesheet" href="{{ static_url('plugins/bootstrap-tagsinput/bootstrap-tagsinput.css') }}">
<link rel="stylesheet" href="{{ static_url('plugins/DatePicker/pwt-datepicker.css') }}">
<link rel="stylesheet" type="text/css" href="/static/plugins/bootstrap-fileupload/bootstrap-fileupload.css" />
<style>
    .colorpicker.dropdown-menu{
        width: 148px;
    }
</style>
{% end block other_css %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>تنظیمات عمومی</span> </div>
                    <div class="panel-body">
                        <div class="show_box" data-action="1">
                            <div class="box_header" style="padding-bottom: 0">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a class="dir_tab menu_font" data-action="1" aria-controls="source" role="tab" data-toggle="tab">فونت منو</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="dir_tab text_font" data-action="2" aria-controls="content" role="tab" data-toggle="tab">فونت متن</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="dir_tab content" data-action="3" aria-controls="content" role="tab" data-toggle="tab">فونت تیتر نمای فهرست</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="dir_tab content" data-action="4" aria-controls="content" role="tab" data-toggle="tab">فونت تیتر نمای جزئیات</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="dir_tab content" data-action="5" aria-controls="content" role="tab" data-toggle="tab">فونت نمای چاپ</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="box_body">
                                <div class="tab_content" data-action="1">
                                    <div class="row">
                                        <form id="menu_font">
                                            {% module xsrf_form_html() %}
                                            <input type="hidden" name="action" value="menu_font">
                                            <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span class="form_label">فونت منو</span>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9">
                                                        <select class="select font_select" name="menu-font">
                                                            <option {% if font is not None %}{% if not font['menu']['font'] %}selected{% end %}{% end %} value="">انتخاب کنید</option>
                                                            <option {% if font is not None %}{% if font['menu']['font'] == "Mitra" %}selected{% end %}{% end %} value="Mitra">Mitra</option>
                                                            <option {% if font is not None %}{% if font['menu']['font'] == "Yekan" %}selected{% end %}{% end %} value="Yekan">Yekan</option>
                                                            <option {% if font is not None %}{% if font['menu']['font'] == "Roya" %}selected{% end %}{% end %} value="Roya">Roya</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span class="form_label">سایز</span>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9">
                                                        <select name="menu-size" class="select menu_font_size_select">
                                                            <option {% if font is not None %}{% if not font['menu']['size'] %}selected{% end %}{% end %} value="">انتخاب کنید</option>
                                                            {% for i in range(11, 37) %}
                                                                <option {% if font is not None %}{% if font['menu']['size'] == str(i) %}selected{% end %}{% end %} value="{{ i }}">{{ i }}</option>
                                                            {% end %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-50">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span class="form_label">پیش نمایش</span>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9 text-center">
                                                        <span class="form_label" id="font_preview">سایت نگاه خبری، سایت جامع رصد محتوا</span>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-12 col-sm-12 text-left">
                                                        <button class="R_butt_green menu-font-btn">ثبت</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="tab_content display-none" data-action="2">
                                    <div class="row">
                                        <form id="text_font">
                                            {% module xsrf_form_html() %}
                                            <input type="hidden" name="action" value="text_font">
                                            <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span class="form_label">فونت متن</span>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9">
                                                        <select name="text-font" class="select text_font_select">
                                                            <option {% if font is not None %}{% if not font['text']['font'] %}selected{% end %}{% end %} value="">انتخاب کنید</option>
                                                            <option {% if font is not None %}{% if font['text']['font'] == "Mitra" %}selected{% end %}{% end %} value="Mitra">Mitra</option>
                                                            <option {% if font is not None %}{% if font['text']['font'] == "Yekan" %}selected{% end %}{% end %} value="Yekan">Yekan</option>
                                                            <option {% if font is not None %}{% if font['text']['font'] == "Roya" %}selected{% end %}{% end %} value="Roya">Roya</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span class="form_label">سایز</span>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9">
                                                        <select name="text-size" class="select text_font_size_select">
                                                            <option {% if font is not None %}{% if not font['text']['size'] %}selected{% end %}{% end %} value="">انتخاب کنید</option>
                                                            {% for i in range(11, 37) %}
                                                                <option {% if font is not None %}{% if font['text']['size'] == str(i) %}selected{% end %}{% end %} value="{{ i }}">{{ i }}</option>
                                                            {% end %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-50">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span class="form_label">پیش نمایش</span>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9 text-center">
                                                        <span class="form_label" id="text_font_preview">سایت نگاه خبری، سایت جامع رصد محتوا</span>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-12 col-sm-12 text-left">
                                                        <button class="R_butt_green save_text_font text-font-btn">ثبت</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="tab_content display-none" data-action="3">
                                    <div class="row">
                                        <form id="content_font">
                                            {% module xsrf_form_html() %}
                                            <input type="hidden" name="action" value="content_font">
                                            <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span class="form_label">فونت تیتر نمای فهرست</span>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9">
                                                        <select name="content-font" class="select list_font_select">
                                                            <option {% if font is not None %}{% if not font['content']['font'] %}selected{% end %}{% end %} value="">انتخاب کنید</option>
                                                            <option {% if font is not None %}{% if font['content']['font'] == "Mitra" %}selected{% end %}{% end %} value="Mitra">Mitra</option>
                                                            <option {% if font is not None %}{% if font['content']['font'] == "Yekan" %}selected{% end %}{% end %} value="Yekan">Yekan</option>
                                                            <option {% if font is not None %}{% if font['content']['font'] == "Roya" %}selected{% end %}{% end %} value="Roya">Roya</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span class="form_label">سایز</span>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9">
                                                        <select name="content-size" class="select list_font_size_select">
                                                            <option {% if font is not None %}{% if not font['content']['size'] %}selected{% end %}{% end %} value="">انتخاب کنید</option>
                                                            {% for i in range(11, 37) %}
                                                                <option {% if font is not None %}{% if font['content']['size'] == str(i) %}selected{% end %}{% end %} value="{{ i }}">{{ i }}</option>
                                                            {% end %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-50">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span class="form_label">پیش نمایش</span>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9 text-center">
                                                        <span class="form_label" id="list_font_preview">سایت نگاه خبری، سایت جامع رصد محتوا</span>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-12 col-sm-12 text-left">
                                                        <button class="R_butt_green save_text_font content-font-btn">ثبت</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="tab_content display-none" data-action="4">
                                    <div class="row">
                                        <form id="detail_font">
                                            {% module xsrf_form_html() %}
                                            <input type="hidden" name="action" value="detail_font">
                                            <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span class="form_label">فونت تیتر نمای جزئیات</span>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9">
                                                        <select name="detail-font" class="select detail_font_select">
                                                            <option {% if font is not None %}{% if not font['detail']['font'] %}selected{% end %}{% end %} value="">انتخاب کنید</option>
                                                            <option {% if font is not None %}{% if font['detail']['font'] == "Mitra" %}selected{% end %}{% end %} value="Mitra">Mitra</option>
                                                            <option {% if font is not None %}{% if font['detail']['font'] == "Yekan" %}selected{% end %}{% end %} value="Yekan">Yekan</option>
                                                            <option {% if font is not None %}{% if font['detail']['font'] == "Roya" %}selected{% end %}{% end %} value="Roya">Roya</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span class="form_label">سایز</span>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9">
                                                        <select name="detail-size" class="select detail_font_size_select">
                                                            <option {% if font is not None %}{% if not font['detail']['size'] %}selected{% end %}{% end %} value="">انتخاب کنید</option>
                                                            {% for i in range(11, 37) %}
                                                                <option {% if font is not None %}{% if font['detail']['size'] == str(i) %}selected{% end %}{% end %} value="{{ i }}">{{ i }}</option>
                                                            {% end %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-50">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span class="form_label">پیش نمایش</span>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9 text-center">
                                                        <span class="form_label" id="detail_font_preview">سایت نگاه خبری، سایت جامع رصد محتوا</span>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-12 col-sm-12 text-left">
                                                        <button class="R_butt_green save_text_font detail-font-btn">ثبت</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="tab_content display-none" data-action="5">
                                    <div class="row">
                                        <form id="print_font">
                                            {% module xsrf_form_html() %}
                                            <input type="hidden" name="action" value="print_font">
                                            <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2">
                                                        <span class="form_label">فونت تیتر خبر</span>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <select name="print-font-title" class="select detail_font_select">
                                                            <option {% if font is not None %}{% if not font['_print']['title']['font'] %}selected{% end %}{% end %} value="">انتخاب کنید</option>
                                                            <option {% if font is not None %}{% if font['_print']['title']['font'] == "Mitra" %}selected{% end %}{% end %} value="Mitra">Mitra</option>
                                                            <option {% if font is not None %}{% if font['_print']['title']['font'] == "Yekan" %}selected{% end %}{% end %} value="Yekan">Yekan</option>
                                                            <option {% if font is not None %}{% if font['_print']['title']['font'] == "Roya" %}selected{% end %}{% end %} value="Roya">Roya</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2">
                                                        <span class="form_label">سایز</span>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <select name="print-size-title" class="select detail_font_size_select">
                                                            <option {% if font is not None %}{% if not font['_print']['title']['size'] %}selected{% end %}{% end %} value="">انتخاب کنید</option>
                                                            {% for i in range(11, 37) %}
                                                                <option {% if font is not None %}{% if font['_print']['title']['size'] == str(i) %}selected{% end %}{% end %} value="{{ i }}">{{ i }}</option>
                                                            {% end %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-2 col-sm-2">
                                                        <span class="form_label">فونت خلاصه خبر</span>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <select name="print-font-summary" class="select detail_font_select">
                                                            <option {% if font is not None %}{% if not font['_print']['summary']['font'] %}selected{% end %}{% end %} value="">انتخاب کنید</option>
                                                            <option {% if font is not None %}{% if font['_print']['summary']['font'] == "Mitra" %}selected{% end %}{% end %} value="Mitra">Mitra</option>
                                                            <option {% if font is not None %}{% if font['_print']['summary']['font'] == "Yekan" %}selected{% end %}{% end %} value="Yekan">Yekan</option>
                                                            <option {% if font is not None %}{% if font['_print']['summary']['font'] == "Roya" %}selected{% end %}{% end %} value="Roya">Roya</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2">
                                                        <span class="form_label">سایز</span>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <select name="print-size-summary" class="select detail_font_size_select">
                                                            <option {% if font is not None %}{% if not font['_print']['summary']['size'] %}selected{% end %}{% end %} value="">انتخاب کنید</option>
                                                            {% for i in range(11, 37) %}
                                                                <option {% if font is not None %}{% if font['_print']['summary']['size'] == str(i) %}selected{% end %}{% end %} value="{{ i }}">{{ i }}</option>
                                                            {% end %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-2 col-sm-2">
                                                        <span class="form_label">فونت متن خبر</span>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <select name="print-font-body" class="select detail_font_select">
                                                            <option {% if font is not None %}{% if not font['_print']['body']['font'] %}selected{% end %}{% end %} value="">انتخاب کنید</option>
                                                            <option {% if font is not None %}{% if font['_print']['body']['font'] == "Mitra" %}selected{% end %}{% end %} value="Mitra">Mitra</option>
                                                            <option {% if font is not None %}{% if font['_print']['body']['font'] == "Yekan" %}selected{% end %}{% end %} value="Yekan">Yekan</option>
                                                            <option {% if font is not None %}{% if font['_print']['body']['font'] == "Roya" %}selected{% end %}{% end %} value="Roya">Roya</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2">
                                                        <span class="form_label">سایز</span>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <select name="print-size-body" class="select detail_font_size_select">
                                                            <option {% if font is not None %}{% if not font['_print']['body']['size'] %}selected{% end %}{% end %} value="">انتخاب کنید</option>
                                                            {% for i in range(11, 37) %}
                                                                <option {% if font is not None %}{% if font['_print']['body']['size'] == str(i) %}selected{% end %}{% end %} value="{{ i }}">{{ i }}</option>
                                                            {% end %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-12 col-sm-12 text-left">
                                                        <button class="R_butt_green save_text_font print-font-btn">ثبت</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% end block container %}

{% block other_scripts %}
<script src="{{ static_url('plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}"></script>
<script src="{{ static_url('plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js') }}"></script>
<script>

    var loader = '<img src="{{ static_url('images/loading.gif') }}" width="20" height="20">';
    var __a = true;
    $('#menu_font').submit(function(e){
        if(__a){
            __a = false;
            e.preventDefault();
            var btn = $('.menu-font-btn') ;
            btn.html(loader);
            var postData = $("#menu_font").serializeArray();
            jQuery.ajax(
                {
                    url: '',
                    type: "post",
                    data: postData,
                    success: function (response) {
                        var status = response['status'];
                        var value = response['value'];
                        var messages = response['messages'];
                        if (!status) {
                            var error = '';
                            for(var i = 0; i < messages.length ; i++){
                                error += messages[i] + '<br>';
                            }
                            if(error == '')
                                error = 'متاسفانه در سیستم خطایی به وجود آمده، لطفا دوباره امتحان کنید.';
                            Alert.render(error, function(){
                                btn.html('ثبت');
                                __a = true;
                            });
                        }else{
                            Alert.render('success', function(){
                                btn.html('ثبت');
                                __a = true;
                            });
                        }
                    },
                    error: function () {
                        Alert.render('error', function(){
                            btn.html('ثبت');
                            __a = true;
                        });
                    }
                });
        }
    });
    var __b = true;
    $('#text_font').submit(function(e){
        if(__b){
            __b = false;
            e.preventDefault();
            var btn = $('.text-font-btn') ;
            btn.html(loader);
            var postData = $("#text_font").serializeArray();
            jQuery.ajax(
                {
                    url: '',
                    type: "post",
                    data: postData,
                    success: function (response) {
                        var status = response['status'];
                        var value = response['value'];
                        var messages = response['messages'];
                        if (!status) {
                            var error = '';
                            for(var i = 0; i < messages.length ; i++){
                                error += messages[i] + '<br>';
                            }
                            if(error == '')
                                error = 'متاسفانه در سیستم خطایی به وجود آمده، لطفا دوباره امتحان کنید.';
                            Alert.render(error, function(){
                                btn.html('ثبت');
                                __b = true;
                            });
                        }else{
                            Alert.render('success', function(){
                                btn.html('ثبت');
                                __b = true;
                            });
                        }
                    },
                    error: function () {
                        Alert.render('error', function(){
                            btn.html('ثبت');
                            __b = true;
                        });
                    }
                });
        }
    });
    var __c = true;
    $('#content_font').submit(function(e){
        if(__c){
            __c = false;
            e.preventDefault();
            var btn = $('.content-font-btn') ;
            btn.html(loader);
            var postData = $("#content_font").serializeArray();
            jQuery.ajax(
                {
                    url: '',
                    type: "post",
                    data: postData,
                    success: function (response) {
                        var status = response['status'];
                        var value = response['value'];
                        var messages = response['messages'];
                        if (!status) {
                            var error = '';
                            for(var i = 0; i < messages.length ; i++){
                                error += messages[i] + '<br>';
                            }
                            if(error == '')
                                error = 'متاسفانه در سیستم خطایی به وجود آمده، لطفا دوباره امتحان کنید.';
                            Alert.render(error, function(){
                                btn.html('ثبت');
                                __c = true;
                            });
                        }else{
                            Alert.render('success', function(){
                                btn.html('ثبت');
                                __c = true;
                            });
                        }
                    },
                    error: function () {
                        Alert.render('error', function(){
                            btn.html('ثبت');
                            __c = true;
                        });
                    }
                });
        }
    });

    var __d = true;
    $('#detail_font').submit(function(e){
        if(__d){
            __d = false;
            e.preventDefault();
            var btn = $('.detail-font-btn') ;
            btn.html(loader);
            var postData = $("#detail_font").serializeArray();
            jQuery.ajax(
                {
                    url: '',
                    type: "post",
                    data: postData,
                    success: function (response) {
                        var status = response['status'];
                        var value = response['value'];
                        var messages = response['messages'];
                        if (!status) {
                            var error = '';
                            for(var i = 0; i < messages.length ; i++){
                                error += messages[i] + '<br>';
                            }
                            if(error == '')
                                error = 'متاسفانه در سیستم خطایی به وجود آمده، لطفا دوباره امتحان کنید.';
                            Alert.render(error, function(){
                                btn.html('ثبت');
                                __d = true;
                            });
                        }else{
                            Alert.render('success', function(){
                                btn.html('ثبت');
                                __d = true;
                            });
                        }
                    },
                    error: function () {
                        Alert.render('error', function(){
                            btn.html('ثبت');
                            __d = true;
                        });
                    }
                });
        }
    });

    var __e = true;
    $('#print_font').submit(function(e){
        if(__e){
            __e = false;
            e.preventDefault();
            var btn = $('.print-font-btn') ;
            btn.html(loader);
            var postData = $("#print_font").serializeArray();
            jQuery.ajax(
                {
                    url: '',
                    type: "post",
                    data: postData,
                    success: function (response) {
                        var status = response['status'];
                        var value = response['value'];
                        var messages = response['messages'];
                        if (!status) {
                            var error = '';
                            for(var i = 0; i < messages.length ; i++){
                                error += messages[i] + '<br>';
                            }
                            if(error == '')
                                error = 'متاسفانه در سیستم خطایی به وجود آمده، لطفا دوباره امتحان کنید.';
                            Alert.render(error, function(){
                                btn.html('ثبت');
                                __e = true;
                            });
                        }else{
                            Alert.render('success', function(){
                                btn.html('ثبت');
                                __e = true;
                            });
                        }
                    },
                    error: function () {
                        Alert.render('error', function(){
                            btn.html('ثبت');
                            __e = true;
                        });
                    }
                });
        }
    });

    $('.dir_tab').click(function(){
        var data_action = $(this).attr('data-action');
        $('.tab_content').css('display','none');
        $('.tab_content[data-action=' + data_action + ']').fadeIn();
    });

    $('.font_select').change(function(){
        var my_font = $(this).val();
        document.getElementById("font_preview").style.fontFamily  = my_font;
    });

    $('.text_font_select').change(function(){
        var my_font = $(this).val();
        document.getElementById("text_font_preview").style.fontFamily  = my_font;
    });

    $('.text_font_size_select').change(function(){
        var my_font_size = $(this).val();
        document.getElementById("text_font_preview").style.fontSize  = my_font_size + 'pt';
    });

    $('.menu_font_size_select').change(function(){
        var my_font_size = $(this).val();
        document.getElementById("font_preview").style.fontSize  = my_font_size + 'pt';
    });

    $('.list_font_select').change(function(){
        var my_font = $(this).val();
        document.getElementById("list_font_preview").style.fontFamily  = my_font;
    });

    $('.list_font_size_select').change(function(){
        var my_font_size = $(this).val();
        document.getElementById("list_font_preview").style.fontSize  = my_font_size + 'pt';
    });

    $('.detail_font_select').change(function(){
        var my_font = $(this).val();
        document.getElementById("detail_font_preview").style.fontFamily  = my_font;
    });

    $('.detail_font_size_select').change(function(){
        var my_font_size = $(this).val();
        document.getElementById("detail_font_preview").style.fontSize  = my_font_size + 'pt';
    });
</script>
{% end block other_scripts %}