{% extends '../admin_base.html' %}

{% block other_css %}
<link rel="stylesheet" href="{{ static_url('plugins/color-picker/spectrum.css') }}">
<link rel="stylesheet" href="{{ static_url('plugins/bootstrap-tagsinput/bootstrap-tagsinput.css') }}">
<link rel="stylesheet" href="{{ static_url('plugins/DatePicker/pwt-datepicker.css') }}">
<link rel="stylesheet" type="text/css" href="/static/plugins/bootstrap-fileupload/bootstrap-fileupload.css" />
<style>
    .colorpicker.dropdown-menu{
        width: 148px;
    }
</style>
{% end block other_css %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>تنظیمات عمومی</span> </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                                <form id="server_time">
                                    {% module xsrf_form_html() %}
                                    <input type="hidden" name="action" value="server_time">
                                    <div class="form_modal_body">
                                        <div class="row">
                                            <div class="col-md-7 col-sm-7">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span style="vertical-align: -21px" class="form_label">تنظیم ساعت</span>
                                                    </div>
                                                    <div class="col-md-7 col-sm-7">
                                                        <div class="col-md-4 col-sm-4 text-center">
                                                            <i class="fa fa-caret-up display-block up_down_button" data-meal="1" data-time="h" data-action="up"></i>
                                                            <input class="form-control text-center filter_inp" name="server-hour" value="00" data-meal="1" data-time="h">
                                                            <i class="fa fa-caret-down display-block up_down_button" data-meal="1" data-time="h" data-action="down"></i>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4 text-center">
                                                            <i class="fa fa-caret-up display-block up_down_button" data-meal="1" data-time="m" data-action="up" ></i>
                                                            <input class="form-control text-center filter_inp" name="server-minute" value="00" data-meal="1" data-time="m">
                                                            <i class="fa fa-caret-down display-block up_down_button" data-meal="1" data-time="m" data-action="down"></i>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4 text-center">
                                                            <i class="fa fa-caret-up display-block up_down_button" data-meal="1" data-time="ds" data-action="up"></i>
                                                            <input class="form-control text-center filter_inp" name="server-ap" value="ق.ظ" data-meal="1" data-time="ds">
                                                            <i class="fa fa-caret-down display-block up_down_button" data-meal="1" data-time="ds" data-action="down"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2" style="padding-top: 19px;">
                                                        <button class="btn R_butt_green server-time-btn">ثبت</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-sm-5">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4">
                                                        <span style="vertical-align: -21px" class="form_label">ساعت سرور</span>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8 text-center">
                                                        <span style="vertical-align: -21px; font-size: 22pt" class="server_time"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                                <form id="general_setting" enctype="multipart/form-data">
                                    {% module xsrf_form_html() %}
                                    <input type="hidden" name="action" value="general">
                                    <div class="form_modal_body">
                                        <div class="row">
                                            <div class="col-md-7 col-sm-7">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span class="form_label">رنگ پیش زمینه</span>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9">
                                                        <input id="custom" type="text" value="{% if general and 'color' in general.keys() %}{{ general['color'] }}{% else %}#f00{% end %}" class="form-control">
                                                        <input name="color" value="#f00" type="hidden">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">کلمات کلیدی</span>
                                            </div>
                                            <div class="col-md-10 col-sm-10">
                                                <input name="tags" {% if general %}value="{% for i in general['tags'] %}{{ i + ',' }}{% end %}"{% end %}>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">حداکثر تعداد حروف در خلاصه خبر</span>
                                            </div>
                                            <div class="col-md-5 col-sm-5">
                                                <input type="text" {% if general %}value="{{ general['max_char_summary'] }}"{% end %} class="form-control" name="max_char_summary">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row margin-top-10">
                                            <div class="col-md-3 col-sm-3">
                                                <span>تنظیم سایز عکس در بولتن</span>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10 text-center">
                                            <div class="col-md-1 col-sm-1">
                                                <span class="form_label">کوچک</span>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div style="display: inline-block; width: 40%">
                                                    <input {% if general %}value="{{ general['bolton_small_image_width'] }}"{% end %} name="bolton-size-small-image-width" placeholder="عرض" type="text" class="form-control text-center">
                                                </div>
                                                <div style="display: inline-block; width: 10%">
                                                    x
                                                </div>
                                                <div style="display: inline-block; width: 40%">
                                                    <input {% if general %}value="{{ general['bolton_small_image_height'] }}"{% end %} name="bolton-size-small-image-height"  placeholder="ارتفاع" type="text" class="form-control text-center">
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1">
                                                <span class="form_label">متوسط</span>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div style="display: inline-block; width: 40%">
                                                    <input {% if general %}value="{{ general['bolton_medium_image_width'] }}"{% end %} name="bolton-size-medium-image-width" placeholder="عرض" type="text" class="form-control text-center">
                                                </div>
                                                <div style="display: inline-block; width: 10%">
                                                    x
                                                </div>
                                                <div style="display: inline-block; width: 40%">
                                                    <input {% if general %}value="{{ general['bolton_medium_image_height'] }}"{% end %} name="bolton-size-medium-image-height" placeholder="ارتفاع" type="text" class="form-control text-center">
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1">
                                                <span class="form_label">بزرگ</span>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div style="display: inline-block; width: 40%">
                                                    <input {% if general %}value="{{ general['bolton_big_image_width'] }}"{% end %} name="bolton-size-big-image-width" placeholder="عرض" type="text" class="form-control text-center">
                                                </div>
                                                <div style="display: inline-block; width: 10%">
                                                    x
                                                </div>
                                                <div style="display: inline-block; width: 40%">
                                                    <input {% if general %}value="{{ general['bolton_big_image_height'] }}"{% end %} name="bolton-size-big-image-height" placeholder="ارتفاع" type="text" class="form-control text-center">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-3 col-sm-3">
                                                <span>تنظیم سایز عکس در مدیریت</span>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10 text-center">
                                            <div class="col-md-1 col-sm-1">
                                                <span class="form_label">کوچک</span>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div style="display: inline-block; width: 40%">
                                                    <input {% if general %}value="{{ general['admin_small_image_width'] }}"{% end %} name="admin-size-small-image-width" placeholder="عرض" type="text" class="form-control text-center">
                                                </div>
                                                <div style="display: inline-block; width: 10%">
                                                    x
                                                </div>
                                                <div style="display: inline-block; width: 40%">
                                                    <input {% if general %}value="{{ general['admin_small_image_height'] }}"{% end %} name="admin-size-small-image-height" placeholder="ارتفاع" type="text" class="form-control text-center">
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1">
                                                <span class="form_label">متوسط</span>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div style="display: inline-block; width: 40%">
                                                    <input {% if general %}value="{{ general['admin_medium_image_width'] }}"{% end %} name="admin-size-medium-image-width" placeholder="عرض" type="text" class="form-control text-center">
                                                </div>
                                                <div style="display: inline-block; width: 10%">
                                                    x
                                                </div>
                                                <div style="display: inline-block; width: 40%">
                                                    <input {% if general %}value="{{ general['admin_medium_image_height'] }}"{% end %} name="admin-size-medium-image-height" placeholder="ارتفاع" type="text" class="form-control text-center">
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1">
                                                <span class="form_label">بزرگ</span>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div style="display: inline-block; width: 40%">
                                                    <input {% if general %}value="{{ general['admin_big_image_width'] }}"{% end %} name="admin-size-big-image-width" placeholder="عرض" type="text" class="form-control text-center">
                                                </div>
                                                <div style="display: inline-block; width: 10%">
                                                    x
                                                </div>
                                                <div style="display: inline-block; width: 40%">
                                                    <input {% if general %}value="{{ general['admin_big_image_height'] }}"{% end %} name="admin-size-big-image-height" placeholder="ارتفاع" type="text" class="form-control text-center">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-3 col-sm-3">
                                                <span>تنظیم سایز عکس در صفحه کاربری</span>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10 text-center">
                                            <div class="col-md-1 col-sm-1">
                                                <span class="form_label">کوچک</span>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div style="display: inline-block; width: 40%">
                                                    <input {% if general %}value="{{ general['user_small_image_width'] }}"{% end %} name="user-size-small-image-width" placeholder="عرض" type="text" class="form-control text-center">
                                                </div>
                                                <div style="display: inline-block; width: 10%">
                                                    x
                                                </div>
                                                <div style="display: inline-block; width: 40%">
                                                    <input {% if general %}value="{{ general['user_small_image_height'] }}"{% end %} name="user-size-small-image-height" placeholder="ارتفاع" type="text" class="form-control text-center">
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1">
                                                <span class="form_label">متوسط</span>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div style="display: inline-block; width: 40%">
                                                    <input {% if general %}value="{{ general['user_medium_image_width'] }}"{% end %} name="user-size-medium-image-width" placeholder="عرض" type="text" class="form-control text-center">
                                                </div>
                                                <div style="display: inline-block; width: 10%">
                                                    x
                                                </div>
                                                <div style="display: inline-block; width: 40%">
                                                    <input {% if general %}value="{{ general['user_medium_image_height'] }}"{% end %} name="user-size-medium-image-height" placeholder="ارتفاع" type="text" class="form-control text-center">
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1">
                                                <span class="form_label">بزرگ</span>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div style="display: inline-block; width: 40%">
                                                    <input {% if general %}value="{{ general['user_big_image_width'] }}"{% end %} name="user-size-big-image-width" placeholder="عرض" type="text" class="form-control text-center">
                                                </div>
                                                <div style="display: inline-block; width: 10%">
                                                    x
                                                </div>
                                                <div style="display: inline-block; width: 40%">
                                                    <input {% if general %}value="{{ general['user_big_image_height'] }}"{% end %} name="user-size-big-image-height" placeholder="ارتفاع" type="text" class="form-control text-center">
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row margin-top-10">
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">حذف عکس های اخبار</span>
                                            </div>
                                            <div class="col-md-5 col-sm-5">
                                                <input type="text" {% if general %}value="{{ general['number_day_delete_picture_news'] }}"{% end %} class="form-control" name="number-day-delete-picture-news">
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <span class="form_label">روز قبل</span>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">حذف فید های تیتر 1</span>
                                            </div>
                                            <div class="col-md-5 col-sm-5">
                                                <input type="text" {% if general %}value="{{ general['number_day_delete_titr1'] }}"{% end %} class="form-control" name="number-day-delete-titr1">
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <span class="form_label">روز قبل</span>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">حذف فید های اخبار ویژه</span>
                                            </div>
                                            <div class="col-md-5 col-sm-5">
                                                <input type="text" {% if general %}value="{{ general['number_day_delete_special'] }}"{% end %} class="form-control" name="number-day-delete-special">
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <span class="form_label">روز قبل</span>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">حذف فید های دارای كلمات كلیدی</span>
                                            </div>
                                            <div class="col-md-5 col-sm-5">
                                                <input type="text" {% if general %}value="{{ general['number_day_delete_with_tag'] }}"{% end %} class="form-control" name="number-day-delete-with-tag">
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <span class="form_label">روز قبل</span>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">تعداد كلمات مشابه</span>
                                            </div>
                                            <div class="col-md-5 col-sm-5">
                                                <input type="text" {% if general %}value="{{ general['number_similar_words'] }}"{% end %} class="form-control" name="number-similar-words">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row margin-top-10">
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">انتخاب لوگوی سایت</span>
                                            </div>
                                            <div class="col-md-9 col-sm-9">
                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <div id="photo_show" class="fileupload-new thumbnail" style="width: 184px; height: 134px;">
                                                        <img src="{{ static_url('images/logo.png') }}" alt="" />
                                                    </div>
                                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                                    <div>
                                                        <span class="btn backgroundBlue colorWhite btn-file">
                                                        <span data-toggle="modal" href="#cropper-foodlist" class="fileupload-new"><i class="fa fa-paper-clip"></i> انتخاب تصویر </span>
                                                        <span class="fileupload-exists"><i class="fa fa-undo"></i> تغییر</span>
                                                        <input name="logo" type="file" class="default" />
                                                        </span>
                                                        <a href="#" class="btn backgroundRed colorWhite fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> حذف</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-12 col-sm-12 text-left">
                                                <button class="btn R_butt_green general-setting-btn">ثبت اطلاعات</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% end block container %}

{% block other_scripts %}
<script type="text/javascript" src="/static/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
<script src="{{ static_url('plugins/color-picker/spectrum.js') }}"></script>
<script src="{{ static_url('plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js') }}"></script>
<script>

    var loader = '<img src="{{ static_url('images/loading.gif') }}" width="20" height="20">';
    var __a = true;
    $('#general_setting').submit(function(e){
        if(__a){
            __a = false;
            e.preventDefault();
            var btn = $('.general-setting-btn') ;
            btn.html(loader);
            var formData = new FormData($(this)[0]);
            jQuery.ajax(
                {
                    url: '',
                    type: "post",
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        var status = response['status'];
                        var value = response['value'];
                        var messages = response['messages'];
                        if (!status) {
                            var error = '';
                            for(var i = 0; i < messages.length ; i++){
                                error += messages[i] + '<br>';
                            }
                            if(error == '')
                                error = 'متاسفانه در سیستم خطایی به وجود آمده، لطفا دوباره امتحان کنید.';
                            Alert.render(error, function(){
                                btn.html('ثبت اطلاعات');
                                __a = true;
                            });
                        }else{
                            Alert.render('success', function(){
                                btn.html('ثبت اطلاعات');
                                __a = true;
                            });
                        }
                    },
                    error: function () {
                        Alert.render('error', function(){
                            btn.html('ثبت اطلاعات');
                            __a = true;
                        });
                    }
                });
        }
    });
    var __b = true;
    $('#server_time').submit(function(e){
        if(__b){
            __b = false;
            e.preventDefault();
            var btn = $('.server-time-btn') ;
            btn.html(loader);
            var postData = $("#server_time").serializeArray();
            jQuery.ajax(
                {
                    url: '',
                    type: "post",
                    data: postData,
                    success: function (response) {
                        var status = response['status'];
                        var value = response['value'];
                        var messages = response['messages'];
                        if (!status) {
                            var error = '';
                            for(var i = 0; i < messages.length ; i++){
                                error += messages[i] + '<br>';
                            }
                            if(error == '')
                                error = 'متاسفانه در سیستم خطایی به وجود آمده، لطفا دوباره امتحان کنید.';
                            Alert.render(error, function(){
                                btn.html('ثبت');
                                __b = true;
                            });
                        }else{
                            Alert.render('success', function(){
                                btn.html('ثبت');
                                __b = true;
                            });
                        }
                    },
                    error: function () {
                        Alert.render('error', function(){
                            btn.html('ثبت');
                            __b = true;
                        });
                    }
                });
        }
    });

$('input[name=tags]').tagsinput({
    trimValue: true
});
$("#custom").spectrum({
    color: "#f00",
    change: function(full) {
        $('input[name=color]').val(full.toRgbString());
    }
});
var color = $("#custom").spectrum('get').toHexString();
    var _time_steps = {
        'min': 1,
        'hour': 1
    };
    $(".up_down_button").click(function(){
        var _this = {
            'action': $(this).attr("data-action"),
            'time': $(this).attr("data-time"),
            'meal': $(this).attr("data-meal"),
            'inp_val': $("input[data-meal="+$(this).attr("data-meal")+"][data-time="+$(this).attr("data-time")+"]")
        };

        if(_this['time'] == 'm'){
            _this['next_val'] = $("input[data-meal="+$(this).attr("data-meal")+"][data-time=h]");
        }else if (_this['time'] == 'h'){
            _this['next_val'] = $("input[data-meal="+$(this).attr("data-meal")+"][data-time=ds]");
        }
        var _tmp;
        if (_this['action'] == 'up'){
            if(_this['time'] == 'm'){
                _tmp = parseInt((parseInt(_this['inp_val'].val())+parseInt(_time_steps['min'])) % 60);
                var __temp = _tmp;
                if(parseInt(_tmp) < 9)
                    __temp = '0' + _tmp;
                if(parseInt(_tmp) != 0)
                _this['inp_val'].val((parseInt(_tmp) != 0) ? ((parseInt(_tmp) > 9) ? parseInt(_tmp) : '0' + parseInt(_tmp)) : "00");
            }else if(_this['time'] == 'h'){
                _tmp = parseInt((parseInt(_this['inp_val'].val())+parseInt(_time_steps['hour'])) % 12);
                _this['inp_val'].val((parseInt(_tmp) != 0) ? ((parseInt(_tmp) > 9) ? parseInt(_tmp) : '0' + parseInt(_tmp)) : "00");
            }else if(_this['time'] == 'ds'){
                if(_this['inp_val'].val() == 'ق.ظ'){
                    _this['inp_val'].val("ب.ظ");
                }else{
                    _this['inp_val'].val("ق.ظ");
                }
            }

        }else{
            if(_this['time'] == 'm'){
                if(_this['inp_val'].val() == "00"){
                    _this['inp_val'].val("60");
                }
                _tmp = parseInt((parseInt(_this['inp_val'].val())-parseInt(_time_steps['min'])) % 60);
                _this['inp_val'].val((parseInt(_tmp) != 0) ? ((parseInt(_tmp) > 9) ? parseInt(_tmp) : '0' + parseInt(_tmp)) : "00");
            }else if(_this['time'] == 'h'){
                if(_this['inp_val'].val() == "00"){
                    _this['inp_val'].val("12");
                }
                _tmp = parseInt((parseInt(_this['inp_val'].val())-parseInt(_time_steps['hour'])) % 12);
                _this['inp_val'].val((parseInt(_tmp) != 0) ? ((parseInt(_tmp) > 9) ? parseInt(_tmp) : '0' + parseInt(_tmp)) : "00");
            }else if(_this['time'] == 'ds'){
                if(_this['inp_val'].val() == 'ق.ظ'){
                    _this['inp_val'].val("ب.ظ");
                }else{
                    _this['inp_val'].val("ق.ظ");
                }
            }

        }

    });
    var now = new Date("1/1/1900 " + '{{ now.hour }}:{{ now.minute }}:{{ now.second }}');
    function renderTime(){
        var h = now.getHours();
        var m = now.getMinutes();
        var s = now.getSeconds();
        now = new Date(now.valueOf() + 1000);
        if (h < 10){
            h = "0" + h;
        }
        if (m < 10){
            m = "0" + m;
        }
        if (s < 10){
            s = "0" + s;
        }

        var myClock = $('.server_time');
        myClock.html(h + ":" + m + ":" + s);
        setTimeout('renderTime()', 1000);
    }
    renderTime();

    $('.select2_tags').select2({
        tags: true
    });
</script>
{% end block other_scripts %}