<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">

    <title>سیستم جامع اطلاع رسانی | در حال انتقال</title>

    <link type="text/css" rel="stylesheet" href="{{ static_url('plugins/bootstrap/css/bootstrap-rtl.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static_url('plugins/bootstrap/theme/bootstrap-theme.min.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ static_url('css/fonts.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ static_url('plugins/font-awesome/css/font-awesome.min.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ static_url('css/notifications/style.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ static_url('css/common.css') }}">

    <link rel="shortcut icon" href="{{ static_url('favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ static_url('favicon.ico') }}" type="image/x-icon">

</head>
<body>


<div class="_note_container">
    <div class="cont">
        <div class="emo fa fa-chevron-circle-left" style="font-size: 320pt; left: -50px"></div>
        <div class="cnt2">
            <div class="_txt font-size-30">{{ msg }}</div>
            <div class="_txt display-inline-block margin-10-center cursor-pointer" onclick="history.back()">بازگشت به
                صفحه قبل
            </div>
        </div>
    </div>
</div>


<footer>کلیه حقوق محفوظ است.</footer>

<script type="text/javascript">
    myvar = "";
    var timeout = 4;
    function exec_refresh() {
//			window.status="در حال انتقال\"+myvar; myvar = myvar + \" .\";
        var timerID = setTimeout("exec_refresh();", 1000);
        if (timeout > 0) {
            timeout -= 1;
            $('#down_counter').html('(' + timeout + ')');
        } else {
            clearTimeout(timerID);
            window.status = window.location = document.referrer;
        }
    }
    exec_refresh();
</script>

</body>
</html>