{% extends '../admin_base.html' %}

{% block other_css %}

<style>
    .amcharts-chart-div a{
        display: none !important;
    }

    .highcharts-title{
        display: none !important;
    }

    .highcharts-button{
        display: none !important;
    }

    .highcharts-yaxis-title{
        display: none !important;
    }

    .highcharts-legend{
        display: none !important;
    }
    text{
        font-family: Yekan !important;
    }
</style>
{% end block other_css %}

{% block manager_logs %}
    <li class="active">
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> گزارشات مدیریت<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="/admin/manager_logs/content_format">قالب محتوا</a>
            </li>
            <li>
                <a href="/admin/manager_logs/source_action">عملکرد منابع خبری بر اساس تعداد اخبار</a>
            </li>
            <li>
                <a href="/admin/manager_logs/general_statistic_source">آمار کلی منابع خبری</a>
            </li>
            <li>
                <a class="active" href="/admin/manager_logs/daily_statistic">آمار روزانه انتشار اخبار</a>
            </li>
            <li>
                <a href="/admin/manager_logs/most_important_topic">مهمترین سرفصل های خبری</a>
            </li>
            <li>
                <a href="">مهمترین تگ های خبری</a>
            </li>
            <li>
                <a href="">بازتاب خبری</a>
            </li>
            <li>
                <a href="">اهمیت خبر در جایگاه رسانه</a>
            </li>
            <li>
                <a href="">اهمیت خبر</a>
            </li>
            <li>
                <a href="">جهت گیری</a>
            </li>
            <li>
                <a href="">مهمترین خبرسازان + جداول مهمترین خبرسازان</a>
            </li>
        </ul>
    </li>
    {% end block manager_logs %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>گزارشات مدیریت</span> </div>
                    <div class="panel-body">
                        <div class="show_box">
                            <div class="box_header">
                                <span>آمار روزانه انتشار اخبار</span>
                            </div>
                            <div class="box_body">
                                <div class="row margin-top-10">
                                    <div class="col-md-12 col-sm-12">
                                        <p>بیشترین اخبار در این دوره در تاریخ 1390/09/28 با 45 مطلب و سپس در تاریخ 1390/09/30 با 36 مطلب منتشر شد.</p>
                                        <p>از جمله مهمترین تیترها:</p>
                                        <div>
                                            <ul>
                                                <li>
                                                    <span class="color-69AFDB">1390/09/29</span>
                                                    <ul>
                                                        <li>معاون وزیر راه و شهرسازی: کاهش 14.5 درصدی تلفات جاده ای در جاده های روستایی</li>
                                                        <li>عمر ماشین آلات راهداری کشور تا پایان برنامه پنجم به زیر 10 سال می رسد</li>
                                                        <li>عمر ماشین آلات راهداری کشور تا پایان برنامه پنجم به زیر 10 سال می رسد</li>
                                                        <li>عمر ماشین آلات راهداری کشور تا پایان برنامه پنجم به زیر 10 سال می رسد</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <span class="color-69AFDB">1390/09/29</span>
                                                    <ul>
                                                        <li>معاون وزیر راه و شهرسازی: کاهش 14.5 درصدی تلفات جاده ای در جاده های روستایی</li>
                                                        <li>عمر ماشین آلات راهداری کشور تا پایان برنامه پنجم به زیر 10 سال می رسد</li>
                                                        <li>عمر ماشین آلات راهداری کشور تا پایان برنامه پنجم به زیر 10 سال می رسد</li>
                                                        <li>عمر ماشین آلات راهداری کشور تا پایان برنامه پنجم به زیر 10 سال می رسد</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-top-35">
                                    <div class="col-md-12 col-sm-12">
                                        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% end block container %}

{% block other_scripts %}
<script src="{{ static_url('plugins/Highchart/highcharts.js')}}"></script>
<script src="{{ static_url('plugins/Highchart/exporting.js')}}"></script>

<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        xAxis: {
            categories: ['90/09/01','90/09/02','90/09/03','90/09/04','90/09/05','90/09/06','90/09/07','90/09/08','90/09/09','90/09/10',
            '90/09/11','90/09/12','90/09/13','90/09/14','90/09/15','90/09/16','90/09/17','90/09/18','90/09/19','90/09/20',
            '90/09/21','90/09/22','90/09/23','90/09/24','90/09/25','90/09/26','90/09/27','90/09/28','90/09/29','90/09/30'],
            crosshair: true
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'خبر',
            data: [49.9, 71.5, 106.4, 129.2, 30, 80, 110, 91, 56, 74, 41, 32, 98, 87,57, 62, 10, 51, 22,38, 41, 32, 98, 87,57, 62, 10, 51, 22,38]

        }]
    });
});
</script>
{% end block other_scripts %}