{% extends '../admin_base.html' %}

{% block other_css %}
{% end block other_css %}

{% block manager_logs %}
<li class="active">
    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> گزارشات مدیریت<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="/admin/manager_logs/content_format">قالب محتوا</a>
        </li>
        <li>
            <a href="/admin/manager_logs/source_action">عملکرد منابع خبری بر اساس تعداد اخبار</a>
        </li>
        <li>
            <a class="active" href="/admin/manager_logs/general_statistic_source">آمار کلی منابع خبری</a>
        </li>
        <li>
            <a href="/admin/manager_logs/daily_statistic">آمار روزانه انتشار اخبار</a>
        </li>
        <li>
            <a href="/admin/manager_logs/most_important_topic">مهمترین سرفصل های خبری</a>
        </li>
        <li>
            <a href="">مهمترین تگ های خبری</a>
        </li>
        <li>
            <a href="">بازتاب خبری</a>
        </li>
        <li>
            <a href="">اهمیت خبر در جایگاه رسانه</a>
        </li>
        <li>
            <a href="">اهمیت خبر</a>
        </li>
        <li>
            <a href="">جهت گیری</a>
        </li>
        <li>
            <a href="">مهمترین خبرسازان + جداول مهمترین خبرسازان</a>
        </li>
    </ul>
</li>
{% end block manager_logs %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>گزارشات مدیریت</span> </div>
                    <div class="panel-body">
                        <div class="show_box">
                            <div class="box_header">
                                <span>آمار کلی منابع خبری</span>
                            </div>
                            <div class="box_body">
                                <table class="table table-bordered source_news_table">
                                    <tr>
                                        <td>نام مدیا</td>
                                        <td>بدون جهت گیری</td>
                                        <td>خنثی</td>
                                        <td>منفی</td>
                                        <td>مثبت</td>
                                        <td>جمع</td>
                                    </tr>
                                    <tr>
                                        <td>تین نیوز</td>
                                        <td>0</td>
                                        <td>20</td>
                                        <td>7</td>
                                        <td>8</td>
                                        <td>35</td>
                                    </tr>
                                    <tr>
                                        <td>فارس</td>
                                        <td>0</td>
                                        <td>14</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>23</td>
                                    </tr>
                                    <tr>
                                        <td>واحد مرکزی خبر</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>6</td>
                                        <td>18</td>
                                    </tr>
                                    <tr>
                                        <td>ایرنا</td>
                                        <td>0</td>
                                        <td>10</td>
                                        <td>0</td>
                                        <td>7</td>
                                        <td>17</td>
                                    </tr>
                                    <tr>
                                        <td>جمع کل</td>
                                        <td>0</td>
                                        <td>56</td>
                                        <td>11</td>
                                        <td>26</td>
                                        <td>93</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% end block container %}

{% block other_scripts %}
{% end block other_scripts %}