{% extends '../admin_base.html' %}

{% block other_css %}

{% end block other_css %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>گزارشات مدیریت</span> </div>
                    <div class="panel-body">
                        <div class="show_box">
                            <div class="box_header">
                                <span>بازتاب خبری</span>
                            </div>
                            <div class="box_body">
                                <table class="table table-bordered source_news_table">
                                    <tr>
                                        <td>عنوان خبر</td>
                                        <td>لینک خبر</td>
                                        <td>تعداد تکرار</td>
                                    </tr>
                                    <tr>
                                        <td>سایه سرد فرسودگی بر سر حمل و نقل همگانی</td>
                                        <td>www.farsnews.com</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>سایه سرد فرسودگی بر سر حمل و نقل همگانی</td>
                                        <td>www.farsnews.com</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>سایه سرد فرسودگی بر سر حمل و نقل همگانی</td>
                                        <td>www.farsnews.com</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>سایه سرد فرسودگی بر سر حمل و نقل همگانی</td>
                                        <td>www.farsnews.com</td>
                                        <td>10</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% end block container %}

{% block other_scripts %}
{% end block other_scripts %}