{% extends ../admin_base.html %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>ایجاد و مدیریت حوزه های جغرافیایی</span> </div>
                    <div class="panel-body">
                        <div class="show_box" data-action="1">
                            <div class="box_header">
                                <span>فهرست حوزه های جغرافیایی</span>
                                <div class="new_content_btn" data-toggle="modal" href="#new_geo_modal">
                                    <i class="fa fa-plus"></i>ایجاد حوزه جدید
                                </div>
                            </div>
                            <div class="box_body geographic-div">
                                {% for geo in geographic %}
                                    <div class="geographic geographic-row"  data-geographic-id="{{ geo['id'] }}">
                                        <div class="parent">
                                            <div class="content_detail">
                                                <div class="display-inline-block"><span>{{ geo['name'] }}</span><span class="margin-right-35 font-size-10">(دارای <span data-geographic-id="{{ geo['id'] }}" class="counter-child">{{ len(geo['child']) }}</span> زیرمجموعه)</span> </div>
                                                <div class="display-inline-block content_icon pull-left">
                                                    <i class="fa fa-pencil"></i>
                                                    <span class="delete-geographic" data-geographic="{{ geo['id'] }}">
                                                        <i class="fa fa-trash-o"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="child">
                                            {% for child in geo['child'] %}
                                                <div class="content_sub_detail geographic-row">
                                                    <div class="display-inline-block"><span>{{ child['name'] }}</span> </div>
                                                    <div class="display-inline-block content_icon pull-left">
                                                        <i class="fa fa-pencil"></i>
                                                        <span class="delete-geographic" data-geographic="{{ child['id'] }}">
                                                            <i class="fa fa-trash-o"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            {% end %}
                                        </div>
                                    </div>
                                {% end %}
                                {% if not len(geographic) %}
                                    <div class="text-center empty">موردی وجود ندارد.</div>
                                {% end %}
                            </div>
                            <div class="box_footer">
                                <div class="row margin-top-10">
                                    <div class="col-xs-2">
                                        <button class="btn R_butt_blue">چیدن موضوعات</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade in" id="new_geo_modal" tabindex="-1" role="basic" aria-hidden="false">
        <div class="modal-dialog" style="font-family: Yekan;width: 60%">
            <div class="modal-content" style="border-radius: 7px !important; margin-top: 100px">
                <div class="show_box">
                    <div class="box_header">
                        <div class="row">
                            <div class="col-xs-11">
                                <span>اضافه کردن حوزه جغرافیایی</span>
                            </div>
                            <div class="col-xs-1">
                                <span class="cursor fa fa-times"
                                      style="font-size:12pt;color: #828282;margin-top: 5px;cursor: pointer"
                                      data-dismiss="modal" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="box_body" style="padding: 40px 10px">
                        <form id="add_geographic">
                            {% module xsrf_form_html() %}
                            <input type="hidden" name="action" value="add">
                            <div class="row">
                                <div class="col-xs-9">
                                    <div class="row">
                                        <div class="col-xs-3 text-right">
                                            <span>نام:</span>
                                        </div>
                                        <div class="col-xs-9">
                                            <input name="geographic-name" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-xs-3 text-right">
                                            <span>زیر مجموعه کردن حوزه:</span>
                                        </div>
                                        <div class="col-xs-9">
                                            <select name="geographic-parent" style="width: 100%" class="select">
                                                <option value="0">اصلی</option>
                                                {% for parent in parent_geographic %}
                                                    <option value="{{ parent['id'] }}">{{ parent['name'] }}</option>
                                                {% end %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-xs-2 pull-left">
                                    <button type="submit" class="btn R_butt_green add-geographic-btn">افزودن</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% end block container %}

{% block other_scripts %}
<script>

    var trash = '<i class="fa fa-trash-o"></i>';

    var loader = '<img src="{{ static_url('images/loading.gif') }}" width="20" height="20">';

    var geographic = '<div class="geographic geographic-row"  data-geographic-id="__geographic_id__">\
                <div class="parent">\
                    <div class="content_detail">\
                        <div class="display-inline-block"><span>__name__</span><span class="margin-right-35 font-size-10">(دارای <span data-geographic-id="__geographic_id__" class="counter-child">0</span> زیرمجموعه)</span> </div>\
                        <div class="display-inline-block content_icon pull-left">\
                            <i class="fa fa-pencil"></i>\
                            <span class="delete-geographic" data-geographic="__id__">\
                                <i class="fa fa-trash-o"></i>\
                            </span>\
                        </div>\
                    </div>\
                </div>\
                <div class="child">\
                </div>\
            </div>';

    var sub_geographic = '<div class="content_sub_detail geographic-row">\
                        <div class="display-inline-block"><span>__name__</span> </div>\
                        <div class="display-inline-block content_icon pull-left">\
                            <i class="fa fa-pencil"></i>\
                            <span class="delete-geographic" data-geographic="__id__">\
                                <i class="fa fa-trash-o"></i>\
                            </span>\
                        </div>\
                    </div>';

    var __a = true;
    $('#add_geographic').submit(function(e){
        if(__a){
            __a = false;
            e.preventDefault();
            var btn =$('.add-geographic-btn') ;
            btn.html(loader);
            var postData = $("#add_geographic").serializeArray();
            jQuery.ajax(
                {
                    url: '',
                    type: "post",
                    data: postData,
                    success: function (response) {
                        var status = response['status'];
                        var value = response['value'];
                        var messages = response['messages'];
                        if (status) {
                            Alert.render('success', function () {
                                $('.empty').remove();
                                if (value['parent'] == null) {
                                    $('.geographic-div').append(geographic.replace(/__name__/g, value['name']).replace(/__geographic_id__/g, value['id']).replace(/__id__/g, value['id']));
                                    var options = '<option value="0">اصلی</option>';
                                    for (var i = 0; i < value['parents'].length; i++) {
                                        options += "<option value='" + value['parents'][i]['id'] + "'>" + value['parents'][i]['name'] + "</option>";
                                    }
                                    $(".select[name=geographic-parent]").html(options).select2("val", 0);
                                } else {
                                    $('.geographic-div .geographic[data-geographic-id=' + value['parent'] + '] .child').append(sub_geographic.replace(/__name__/g, value['name']).replace(/__id__/g, value['id']));
                                    $(".select[name=geographic-parent]").select2("val", 0);
                                    var c = $('.counter-child[data-geographic-id=' + value['parent'] + ']');
                                    c.html(parseInt(c.html()) + 1);
                                }
                                btn.html('افزودن');
                                $('#new_geo_modal').modal('toggle');
                                $('input[name=geographic-name]').val('');
                                __a = true;
                            });
                        }else{
                            var error = '';
                            for(var i = 0; i < messages.length ; i++){
                                error += messages[i] + '<br>';
                            }
                            if(error == '')
                                error = 'error';
                            Alert.render(error, function(){
                                btn.html('افزودن');
                                __a = true;
                            });
                        }
                    },
                    error: function () {
                        Alert.render('error', function(){
                            btn.html('افزودن');
                            __a = true;
                        });
                    }
                });
        }
    });

    var __b = true;
    $(document).on('click', '.delete-geographic', function(e){
        if(__b){
            __b = false;
            var elm = $(e.target).closest('.delete-geographic');
            var geographic = elm.attr('data-geographic');
            elm.html(loader.replace(/20/g, '15'));
            var postData = [
                {name: 'geographic', value: geographic},
                {name: '_xsrf', value: '{{ handler.xsrf_token }}'},
                {name: 'action', value: 'delete'}
            ];
            jQuery.ajax(
                {
                    url: '',
                    type: "post",
                    data: postData,
                    success: function (response) {
                        var status = response['status'];
                        var value = response['value'];
                        var messages = response['messages'];
                        if (status) {
                            Alert.render('success', function () {
                                elm.closest('.geographic-row').remove();
                                if (value['parent'] != null){
                                    var c = $('.counter-child[data-geographic-id=' + value['parent'] + ']');
                                    c.html(parseInt(c.html()) - 1);
                                }
                                __b = true;
                            });
                        }else{
                            var error = '';
                            for(var i = 0; i < messages.length ; i++){
                                error += messages[i] + '<br>';
                            }
                            if(error == '')
                                error = 'error';
                            Alert.render(error, function(){
                                elm.html(trash);
                                __b = true;
                            });
                        }
                    },
                    error: function () {
                        Alert.render('error', function(){
                            elm.html(trash);
                            __b = true;
                        });
                    }
                });
        }
    });
</script>
{% end block other_scripts %}