{% extends ../admin_base.html %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>ایجاد و مدیریت گروه های خبری</span> </div>
                    <div class="panel-body">
                        <div class="show_box">
                            <div class="box_header">
                                <span>فهرست گروه ها</span>
                                <div class="new_content_btn" data-toggle="modal" href="#new_group_modal">
                                    <i class="fa fa-plus"></i>ایجاد گروه جدید
                                </div>
                            </div>
                            <div class="box_body group-div">
                                {% for group in groups %}
                                    <div class="group group-row"  data-group-id="{{ group['id'] }}">
                                        <div class="parent">
                                            <div class="content_detail">
                                                <div class="display-inline-block"><span>{{ group['name'] }}</span><span class="margin-right-35 font-size-10">(دارای <span data-group-id="{{ group['id'] }}" class="counter-child">{{ len(group['child']) }}</span> زیرمجموعه)</span> </div>
                                                <div class="display-inline-block content_icon pull-left">
                                                    <i class="fa fa-pencil"></i>
                                                    <span class="delete-group" data-group="{{ group['id'] }}">
                                                        <i class="fa fa-trash-o"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="child">
                                            {% for child in group['child'] %}
                                                <div class="content_sub_detail group-row">
                                                    <div class="display-inline-block"><span>{{ child['name'] }}</span> </div>
                                                    <div class="display-inline-block content_icon pull-left">
                                                        <i class="fa fa-pencil"></i>
                                                        <span class="delete-group" data-group="{{ child['id'] }}">
                                                            <i class="fa fa-trash-o"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="child">
                                                    {% for child_2 in child['child'] %}
                                                        <div class="content_sub_detail_2 group-row">
                                                            <div class="display-inline-block"><span>{{ child_2['name'] }}</span> </div>
                                                            <div class="display-inline-block content_icon pull-left">
                                                                <i class="fa fa-pencil"></i>
                                                                <span class="delete-group" data-group="{{ child_2['id'] }}">
                                                                    <i class="fa fa-trash-o"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    {% end %}
                                                </div>
                                            {% end %}
                                        </div>
                                    </div>
                                {% end %}
                                {% if not len(groups) %}
                                    <div class="text-center empty">موردی وجود ندارد.</div>
                                {% end %}
                            </div>
                            <div class="box_footer">
                                <div class="row margin-top-10">
                                    <div class="col-xs-2">
                                        <button class="btn R_butt_blue">چیدن موضوعات</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade in" id="new_group_modal" tabindex="-1" role="basic" aria-hidden="false">
        <div class="modal-dialog" style="font-family: Yekan;width: 70%">
            <div class="modal-content" style="border-radius: 7px !important; margin-top: 100px">
                <div class="show_box">
                    <div class="box_header">
                        <div class="row">
                            <div class="col-xs-11">
                                <span>اضافه کردن گروه خبری</span>
                            </div>
                            <div class="col-xs-1 text-left">
                                <span class="cursor fa fa-times"
                                      style="font-size:12pt;color: #828282;margin-top: 5px;cursor: pointer"
                                      data-dismiss="modal" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="box_body" style="padding: 40px 10px;">
                        <form id="add_group">
                            {% module xsrf_form_html() %}
                            <input type="hidden" name="action" value="add">
                            <div class="row">
                                <div class="col-xs-9">
                                    <div class="row">
                                        <div class="col-xs-3 text-right">
                                            <span>نام:</span>
                                        </div>
                                        <div class="col-xs-9">
                                            <input name="group-name" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-xs-3 text-right">
                                            <span>زیر مجموعه کردن گروه:</span>
                                        </div>
                                        <div class="col-xs-9">
                                            <select name="group-parent" style="width: 100%" class="select">
                                                <option value="0">اصلی</option>
                                                {% for gr in groups %}
                                                    <option value="{{ gr['id'] }}">{{ gr['name'] }}</option>
                                                    {% for ch in gr['child'] %}
                                                        <option value="{{ ch['id'] }}"> --> {{ ch['name'] }}</option>
                                                    {% end %}
                                                {% end %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-xs-2 pull-left">
                                    <button type="submit" class="btn R_butt_green add-group-btn">افزودن</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% end block container %}

{% block other_scripts %}
<script>

    var trash = '<i class="fa fa-trash-o"></i>';

    var loader = '<img src="{{ static_url('images/loading.gif') }}" width="20" height="20">';

    var group = '<div class="group group-row"  data-group-id="__group_id__">\
                <div class="parent">\
                    <div class="content_detail">\
                        <div class="display-inline-block"><span>__name__</span><span class="margin-right-35 font-size-10">(دارای <span data-group-id="__group_id__" class="counter-child">0</span> زیرمجموعه)</span> </div>\
                        <div class="display-inline-block content_icon pull-left">\
                            <i class="fa fa-pencil"></i>\
                            <span class="delete-group" data-group="__id__">\
                                <i class="fa fa-trash-o"></i>\
                            </span>\
                        </div>\
                    </div>\
                </div>\
                <div class="child">\
                </div>\
            </div>';

    var sub_group = '<div class="content_sub_detail group-row">\
                        <div class="display-inline-block"><span>__name__</span> </div>\
                        <div class="display-inline-block content_icon pull-left">\
                            <i class="fa fa-pencil"></i>\
                            <span class="delete-group" data-group="__id__">\
                                <i class="fa fa-trash-o"></i>\
                            </span>\
                        </div>\
                    </div>';

    var __a = true;
    $('#add_group').submit(function(e){
        if(__a){
            __a = false;
            e.preventDefault();
            var btn =$('.add-group-btn') ;
            btn.html(loader);
            var postData = $("#add_group").serializeArray();
            jQuery.ajax(
                {
                    url: '',
                    type: "post",
                    data: postData,
                    success: function (response) {
                        var status = response['status'];
                        var value = response['value'];
                        var messages = response['messages'];
                        if (status) {
                            Alert.render('success', function () {
{#                                $('.empty').remove();#}
{#                                if (value['parent'] == null) {#}
{#                                    $('.group-div').append(group.replace(/__name__/g, value['name']).replace(/__group_id__/g, value['id']).replace(/__id__/g, value['id']));#}
{#                                    var options = '<option value="0">اصلی</option>';#}
{#                                    for (var i = 0; i < value['parents'].length; i++) {#}
{#                                        options += "<option value='" + value['parents'][i]['id'] + "'>" + value['parents'][i]['name'] + "</option>";#}
{#                                    }#}
{#                                    $(".select[name=group-parent]").html(options).select2("val", 0);#}
{#                                } else {#}
{#                                    $('.group-div .group[data-group-id=' + value['parent'] + '] .child').append(sub_group.replace(/__name__/g, value['name']).replace(/__id__/g, value['id']));#}
{#                                    $(".select[name=group-parent]").select2("val", 0);#}
{#                                    var c = $('.counter-child[data-group-id=' + value['parent'] + ']');#}
{#                                    c.html(parseInt(c.html()) + 1);#}
{#                                }#}
{#                                btn.html('افزودن');#}
{#                                $('#new_group_modal').modal('toggle');#}
{#                                $('input[name=group-name]').val('');#}
{#                                __a = true;#}
                                location.href = "";
                            });
                        }else{
                            var error = '';
                            for(var i = 0; i < messages.length ; i++){
                                error += messages[i] + '<br>';
                            }
                            if(error == '')
                                error = 'error';
                            Alert.render(error, function(){
                                btn.html('افزودن');
                                __a = true;
                            });
                        }
                    },
                    error: function () {
                        Alert.render('error', function(){
                            btn.html('افزودن');
                            __a = true;
                        });
                    }
                });
        }
    });

    var __b = true;
    $(document).on('click', '.delete-group', function(e){
        if(__b){
            __b = false;
            var elm = $(e.target).closest('.delete-group');
            var group = elm.attr('data-group');
            elm.html(loader.replace(/20/g, '15'));
            var postData = [
                {name: 'group', value: group},
                {name: '_xsrf', value: '{{ handler.xsrf_token }}'},
                {name: 'action', value: 'delete'}
            ];
            jQuery.ajax(
                {
                    url: '',
                    type: "post",
                    data: postData,
                    success: function (response) {
                        var status = response['status'];
                        var value = response['value'];
                        var messages = response['messages'];
                        if (status) {
                            Alert.render('success', function () {
                                elm.closest('.group-row').remove();
                                if (value['parent'] != null){
                                    var c = $('.counter-child[data-group-id=' + value['parent'] + ']');
                                    c.html(parseInt(c.html()) - 1);
                                }
                                __b = true;
                            });
                        }else{
                            var error = '';
                            for(var i = 0; i < messages.length ; i++){
                                error += messages[i] + '<br>';
                            }
                            if(error == '')
                                error = 'error';
                            Alert.render(error, function(){
                                elm.html(trash);
                                __b = true;
                            });
                        }
                    },
                    error: function () {
                        Alert.render('error', function(){
                            elm.html(trash);
                            __b = true;
                        });
                    }
                });
        }
    });
</script>
{% end block other_scripts %}