{% extends '../admin_base.html' %}

{% block other_css %}
<link rel="stylesheet" href="{{ static_url('plugins/bootstrap-colorpicker/css/colorpicker.css') }}">
<link rel="stylesheet" href="{{ static_url('plugins/bootstrap-tagsinput/bootstrap-tagsinput.css') }}">
<link rel="stylesheet" href="{{ static_url('plugins/DatePicker/pwt-datepicker.css') }}">
<link rel="stylesheet" type="text/css" href="/static/plugins/bootstrap-fileupload/bootstrap-fileupload.css" />
<style>
    .colorpicker.dropdown-menu{
        width: 148px;
    }
</style>
{% end block other_css %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>تنظیمات عمومی</span> </div>
                    <div class="panel-body">
                        <div class="show_box" data-action="1">
                            <div class="box_header" style="padding-bottom: 0">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a class="dir_tab menu_font" data-action="1" aria-controls="source" role="tab" data-toggle="tab">فونت منو</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="dir_tab text_font" data-action="2" aria-controls="content" role="tab" data-toggle="tab">فونت متن</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="dir_tab content" data-action="3" aria-controls="content" role="tab" data-toggle="tab">فونت تیتر نمای فهرست</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="dir_tab content" data-action="4" aria-controls="content" role="tab" data-toggle="tab">فونت تیتر نمای جزئیات</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="dir_tab content" data-action="5" aria-controls="content" role="tab" data-toggle="tab">فونت نمای چاپ</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="box_body">
                                <div class="tab_content" data-action="1">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3">
                                                    <span class="form_label">فونت منو</span>
                                                </div>
                                                <div class="col-md-9 col-sm-9">
                                                    <select class="select font_select"><option>yekan</option><option>roya</option></select>
                                                </div>
                                            </div>
                                            <div class="row margin-top-50">
                                                <div class="col-md-3 col-sm-3">
                                                    <span class="form_label">پیش نمایش</span>
                                                </div>
                                                <div class="col-md-9 col-sm-9 text-center">
                                                    <span class="form_label" id="font_preview">سایت نگاه خبری، سایت جامع رصد محتوا</span>
                                                </div>
                                            </div>
                                            <div class="row margin-top-10">
                                                <div class="col-md-12 col-sm-12 text-left">
                                                    <button class="R_butt_green save_font">ثبت</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab_content display-none" data-action="2">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3">
                                                    <span class="form_label">فونت متن</span>
                                                </div>
                                                <div class="col-md-9 col-sm-9">
                                                    <select class="select text_font_select"><option>yekan</option><option>roya</option></select>
                                                </div>
                                            </div>
                                            <div class="row margin-top-10">
                                                <div class="col-md-3 col-sm-3">
                                                    <span class="form_label">سایز</span>
                                                </div>
                                                <div class="col-md-9 col-sm-9">
                                                    <select class="select text_font_size_select">
                                                        <option>11</option>
                                                        <option>12</option>
                                                        <option>14</option>
                                                        <option>16</option>
                                                        <option>18</option>
                                                        <option>20</option>
                                                        <option>22</option>
                                                        <option>24</option>
                                                        <option>26</option>
                                                        <option>28</option>
                                                        <option>32</option>
                                                        <option>36</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row margin-top-50">
                                                <div class="col-md-3 col-sm-3">
                                                    <span class="form_label">پیش نمایش</span>
                                                </div>
                                                <div class="col-md-9 col-sm-9 text-center">
                                                    <span class="form_label" id="text_font_preview">سایت نگاه خبری، سایت جامع رصد محتوا</span>
                                                </div>
                                            </div>
                                            <div class="row margin-top-10">
                                                <div class="col-md-12 col-sm-12 text-left">
                                                    <button class="R_butt_green save_text_font">ثبت</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab_content display-none" data-action="3">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3">
                                                    <span class="form_label">فونت تیتر نمای فهرست</span>
                                                </div>
                                                <div class="col-md-9 col-sm-9">
                                                    <select class="select list_font_select"><option>yekan</option><option>roya</option></select>
                                                </div>
                                            </div>
                                            <div class="row margin-top-10">
                                                <div class="col-md-3 col-sm-3">
                                                    <span class="form_label">سایز</span>
                                                </div>
                                                <div class="col-md-9 col-sm-9">
                                                    <select class="select list_font_size_select">
                                                        <option>11</option>
                                                        <option>12</option>
                                                        <option>14</option>
                                                        <option>16</option>
                                                        <option>18</option>
                                                        <option>20</option>
                                                        <option>22</option>
                                                        <option>24</option>
                                                        <option>26</option>
                                                        <option>28</option>
                                                        <option>32</option>
                                                        <option>36</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row margin-top-50">
                                                <div class="col-md-3 col-sm-3">
                                                    <span class="form_label">پیش نمایش</span>
                                                </div>
                                                <div class="col-md-9 col-sm-9 text-center">
                                                    <span class="form_label" id="list_font_preview">سایت نگاه خبری، سایت جامع رصد محتوا</span>
                                                </div>
                                            </div>
                                            <div class="row margin-top-10">
                                                <div class="col-md-12 col-sm-12 text-left">
                                                    <button class="R_butt_green save_text_font">ثبت</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab_content display-none" data-action="4">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3">
                                                    <span class="form_label">فونت تیتر نمای جزئیات</span>
                                                </div>
                                                <div class="col-md-9 col-sm-9">
                                                    <select class="select detail_font_select"><option>yekan</option><option>roya</option></select>
                                                </div>
                                            </div>
                                            <div class="row margin-top-10">
                                                <div class="col-md-3 col-sm-3">
                                                    <span class="form_label">سایز</span>
                                                </div>
                                                <div class="col-md-9 col-sm-9">
                                                    <select class="select detail_font_size_select">
                                                        <option>11</option>
                                                        <option>12</option>
                                                        <option>14</option>
                                                        <option>16</option>
                                                        <option>18</option>
                                                        <option>20</option>
                                                        <option>22</option>
                                                        <option>24</option>
                                                        <option>26</option>
                                                        <option>28</option>
                                                        <option>32</option>
                                                        <option>36</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row margin-top-50">
                                                <div class="col-md-3 col-sm-3">
                                                    <span class="form_label">پیش نمایش</span>
                                                </div>
                                                <div class="col-md-9 col-sm-9 text-center">
                                                    <span class="form_label" id="detail_font_preview">سایت نگاه خبری، سایت جامع رصد محتوا</span>
                                                </div>
                                            </div>
                                            <div class="row margin-top-10">
                                                <div class="col-md-12 col-sm-12 text-left">
                                                    <button class="R_butt_green save_text_font">ثبت</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab_content display-none" data-action="5">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2">
                                                    <span class="form_label">فونت تیتر خبر</span>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <select class="select detail_font_select"><option>yekan</option><option>roya</option></select>
                                                </div>
                                                <div class="col-md-2 col-sm-2">
                                                    <span class="form_label">سایز</span>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <select class="select detail_font_size_select">
                                                        <option>11</option>
                                                        <option>12</option>
                                                        <option>14</option>
                                                        <option>16</option>
                                                        <option>18</option>
                                                        <option>20</option>
                                                        <option>22</option>
                                                        <option>24</option>
                                                        <option>26</option>
                                                        <option>28</option>
                                                        <option>32</option>
                                                        <option>36</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row margin-top-10">
                                                <div class="col-md-2 col-sm-2">
                                                    <span class="form_label">فونت خلاصه خبر</span>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <select class="select detail_font_select"><option>yekan</option><option>roya</option></select>
                                                </div>
                                                <div class="col-md-2 col-sm-2">
                                                    <span class="form_label">سایز</span>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <select class="select detail_font_size_select">
                                                        <option>11</option>
                                                        <option>12</option>
                                                        <option>14</option>
                                                        <option>16</option>
                                                        <option>18</option>
                                                        <option>20</option>
                                                        <option>22</option>
                                                        <option>24</option>
                                                        <option>26</option>
                                                        <option>28</option>
                                                        <option>32</option>
                                                        <option>36</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row margin-top-10">
                                                <div class="col-md-2 col-sm-2">
                                                    <span class="form_label">فونت متن خبر</span>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <select class="select detail_font_select"><option>yekan</option><option>roya</option></select>
                                                </div>
                                                <div class="col-md-2 col-sm-2">
                                                    <span class="form_label">سایز</span>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <select class="select detail_font_size_select">
                                                        <option>11</option>
                                                        <option>12</option>
                                                        <option>14</option>
                                                        <option>16</option>
                                                        <option>18</option>
                                                        <option>20</option>
                                                        <option>22</option>
                                                        <option>24</option>
                                                        <option>26</option>
                                                        <option>28</option>
                                                        <option>32</option>
                                                        <option>36</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row margin-top-10">
                                                <div class="col-md-12 col-sm-12 text-left">
                                                    <button class="R_butt_green save_text_font">ثبت</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% end block container %}

{% block other_scripts %}
<script src="{{ static_url('plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}"></script>
<script src="{{ static_url('plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js') }}"></script>
<script>
    $('.dir_tab').click(function(){
        var data_action = $(this).attr('data-action');
        $('.tab_content').css('display','none');
        $('.tab_content[data-action=' + data_action + ']').fadeIn();
    });

    $('.font_select').change(function(){
        var my_font = $(this).val();
        document.getElementById("font_preview").style.fontFamily  = my_font;
    });

    $('.text_font_select').change(function(){
        var my_font = $(this).val();
        document.getElementById("text_font_preview").style.fontFamily  = my_font;
    });

    $('.text_font_size_select').change(function(){
        var my_font_size = $(this).val();
        document.getElementById("text_font_preview").style.fontSize  = my_font_size + 'pt';
    });

    $('.list_font_select').change(function(){
        var my_font = $(this).val();
        document.getElementById("list_font_preview").style.fontFamily  = my_font;
    });

    $('.list_font_size_select').change(function(){
        var my_font_size = $(this).val();
        document.getElementById("list_font_preview").style.fontSize  = my_font_size + 'pt';
    });

    $('.detail_font_select').change(function(){
        var my_font = $(this).val();
        document.getElementById("detail_font_preview").style.fontFamily  = my_font;
    });

    $('.detail_font_size_select').change(function(){
        var my_font_size = $(this).val();
        document.getElementById("detail_font_preview").style.fontSize  = my_font_size + 'pt';
    });
</script>
{% end block other_scripts %}