{% extends '../admin_base.html' %}

{% block other_css %}
<link rel="stylesheet" href="{{ static_url('plugins/bootstrap-colorpicker/css/colorpicker.css') }}">
<link rel="stylesheet" href="{{ static_url('plugins/bootstrap-tagsinput/bootstrap-tagsinput.css') }}">
<link rel="stylesheet" href="{{ static_url('plugins/DatePicker/pwt-datepicker.css') }}">
<link rel="stylesheet" type="text/css" href="/static/plugins/bootstrap-fileupload/bootstrap-fileupload.css" />
<style>
    .colorpicker.dropdown-menu{
        width: 148px;
    }
</style>
{% end block other_css %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>تنظیمات عمومی</span> </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                                <form>
                                    <div class="form_modal_body">
                                        <div class="row">
                                            <div class="col-md-7 col-sm-7">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span class="form_label">رنگ پیش زمینه</span>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9">
                                                        <input id="color_box" name="color" type="text" class="colorpicker-default form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span style="vertical-align: -21px" class="form_label">تنظیم ساعت</span>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9">
                                                        <div class="col-md-4 col-sm-4 text-center">
                                                            <i class="fa fa-caret-up display-block up_down_button" data-meal="1" data-time="m" data-action="up" ></i>
                                                            <input class="form-control text-center filter_inp" value="00" data-meal="1" data-time="m">
                                                            <i class="fa fa-caret-down display-block up_down_button" data-meal="1" data-time="m" data-action="down"></i>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4 text-center">
                                                            <i class="fa fa-caret-up display-block up_down_button" data-meal="1" data-time="h" data-action="up"></i>
                                                            <input class="form-control text-center filter_inp" value="00" data-meal="1" data-time="h">
                                                            <i class="fa fa-caret-down display-block up_down_button" data-meal="1" data-time="h" data-action="down"></i>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4 text-center">
                                                            <i class="fa fa-caret-up display-block up_down_button" data-meal="1" data-time="ds" data-action="up"></i>
                                                            <input class="form-control text-center filter_inp" value="ق.ظ" data-meal="1" data-time="ds">
                                                            <i class="fa fa-caret-down display-block up_down_button" data-meal="1" data-time="ds" data-action="down"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3">
                                                        <span style="vertical-align: -21px" class="form_label">ساعت سرور</span>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9 text-center">
                                                        <span style="vertical-align: -21px; font-size: 22pt" class="server_time"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">کلمات کلیدی</span>
                                            </div>
                                            <div class="col-md-10 col-sm-10">
                                                <input name="tags">
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">حداکثر تعداد حروف در خلاصه خبر</span>
                                            </div>
                                            <div class="col-md-10 col-sm-10">
                                                <input name="tags">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row margin-top-10">
                                            <div class="col-md-3 col-sm-3">
                                                <span>تنظیم سایز عکس در بولتن</span>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">کوچک</span>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">متوسط</span>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">بزرگ</span>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-3 col-sm-3">
                                                <span>تنظیم سایز عکس در مدیریت</span>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">کوچک</span>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">متوسط</span>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">بزرگ</span>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-3 col-sm-3">
                                                <span>تنظیم سایز عکس در صفحه کاربری</span>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">کوچک</span>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">متوسط</span>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">بزرگ</span>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row margin-top-10">
                                            <div class="col-md-2 col-sm-2">
                                                <span class="form_label">انتخاب لوگوی سایت</span>
                                            </div>
                                            <div class="col-md-9 col-sm-9">
                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <div id="photo_show" class="fileupload-new thumbnail" style="width: 184px; height: 134px;">
                                                        <img  src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                                    </div>
                                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                                    <div>
                                                        <span class="btn backgroundBlue colorWhite btn-file">
                                                        <span data-toggle="modal" href="#cropper-foodlist" class="fileupload-new"><i class="fa fa-paper-clip"></i> انتخاب تصویر </span>
                                                        <span class="fileupload-exists"><i class="fa fa-undo"></i> تغییر</span>
                                                        <input name="avatar" type="file" class="default" />
                                                        </span>
                                                        <a href="#" class="btn backgroundRed colorWhite fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> حذف</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-md-12 col-sm-12 text-left">
                                                <button class="btn R_butt_green">ثبت اطلاعات</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% end block container %}

{% block other_scripts %}
<script src="{{ static_url('plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}"></script>
<script src="{{ static_url('plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js') }}"></script>
<script>
$('input[name=tags]').tagsinput({
    trimValue: true
});
$('.colorpicker-default').colorpicker({
    format: 'hex'
});

    var _time_steps = {
        'min': 1,
        'hour': 1
    };
    $(".up_down_button").click(function(){
        var _this = {
            'action': $(this).attr("data-action"),
            'time': $(this).attr("data-time"),
            'meal': $(this).attr("data-meal"),
            'inp_val': $("input[data-meal="+$(this).attr("data-meal")+"][data-time="+$(this).attr("data-time")+"]")
        };

        if(_this['time'] == 'm'){
            _this['next_val'] = $("input[data-meal="+$(this).attr("data-meal")+"][data-time=h]");
        }else if (_this['time'] == 'h'){
            _this['next_val'] = $("input[data-meal="+$(this).attr("data-meal")+"][data-time=ds]");
        }
        var _tmp;
        if (_this['action'] == 'up'){
            if(_this['time'] == 'm'){
                _tmp = parseInt((parseInt(_this['inp_val'].val())+parseInt(_time_steps['min'])) % 60);
                var __temp = _tmp;
                if(parseInt(_tmp) < 9)
                    __temp = '0' + _tmp;
                if(parseInt(_tmp) != 0)
                _this['inp_val'].val((parseInt(_tmp) != 0) ? ((parseInt(_tmp) > 9) ? parseInt(_tmp) : '0' + parseInt(_tmp)) : "00");
            }else if(_this['time'] == 'h'){
                _tmp = parseInt((parseInt(_this['inp_val'].val())+parseInt(_time_steps['hour'])) % 12);
                _this['inp_val'].val((parseInt(_tmp) != 0) ? ((parseInt(_tmp) > 9) ? parseInt(_tmp) : '0' + parseInt(_tmp)) : "00");
            }else if(_this['time'] == 'ds'){
                if(_this['inp_val'].val() == 'ق.ظ'){
                    _this['inp_val'].val("ب.ظ");
                }else{
                    _this['inp_val'].val("ق.ظ");
                }
            }

        }else{
            if(_this['time'] == 'm'){
                if(_this['inp_val'].val() == "00"){
                    _this['inp_val'].val("60");
                }
                _tmp = parseInt((parseInt(_this['inp_val'].val())-parseInt(_time_steps['min'])) % 60);
                _this['inp_val'].val((parseInt(_tmp) != 0) ? ((parseInt(_tmp) > 9) ? parseInt(_tmp) : '0' + parseInt(_tmp)) : "00");
            }else if(_this['time'] == 'h'){
                if(_this['inp_val'].val() == "00"){
                    _this['inp_val'].val("12");
                }
                _tmp = parseInt((parseInt(_this['inp_val'].val())-parseInt(_time_steps['hour'])) % 12);
                _this['inp_val'].val((parseInt(_tmp) != 0) ? ((parseInt(_tmp) > 9) ? parseInt(_tmp) : '0' + parseInt(_tmp)) : "00");
            }else if(_this['time'] == 'ds'){
                if(_this['inp_val'].val() == 'ق.ظ'){
                    _this['inp_val'].val("ب.ظ");
                }else{
                    _this['inp_val'].val("ق.ظ");
                }
            }

        }

    });

    function renderTime(){
        var currentTime = new Date();
        var h = currentTime.getHours();
        var m = currentTime.getMinutes();
        var s = currentTime.getSeconds();
        if (h < 10){
            h = "0" + h;
        }
        if (m < 10){
            m = "0" + m;
        }
        if (s < 10){
            s = "0" + s;
        }

        var myClock = $('.server_time');
        myClock.html(h + ":" + m + ":" + s);
        setTimeout('renderTime()', 1000);
    }
    renderTime();

    $('.select2_tags').select2({
        tags: true
    });
</script>
{% end block other_scripts %}