{% extends '../admin_base.html' %}

{% block other_css %}

<style>
    .amcharts-chart-div a{
        display: none !important;
    }

    .highcharts-title, .highcharts-subtitle, .highcharts-button,.highcharts-yaxis-title{
        display: none !important;
    }

    svg > text{
        display: none !important;
    }

    text{
        font-family: Yekan !important;
    }
</style>
{% end block other_css %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>گزارشات مدیریت</span> </div>
                    <div class="panel-body">
                        <div class="show_box">
                            <div class="box_header">
                                <span>مهمترین سرفصل های خبری</span>
                            </div>
                            <div class="box_body">
                                <div class="row margin-top-10">
                                    <div class="col-md-12 col-sm-12">
                                        <p>بیشترین اخبار در این دوره در تاریخ 1390/09/28 با 45 مطلب و سپس در تاریخ 1390/09/30 با 36 مطلب منتشر شد.</p>
                                        <p>از جمله مهمترین تیترها:</p>
                                        <div>
                                            <ul>
                                                <li>
                                                    <span class="color-69AFDB">مهمترین تیترهای مثبت</span>
                                                    <ul>
                                                        <li>ترانزیت 7.5 میلیون تن کالا از مرزهای جاده ای کشور</li>
                                                        <li>پیش بینی برنامه پنجم در بخش ترانزیت محقق شد</li>
                                                        <li>بررسی منطقی شدن نرخ عوارض آزادراه ها</li>
                                                        <li>کاهش 12 درصدی مرگ و میر دانش آموزان در در حاشیه جاده ها</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <span class="color-69AFDB">مهمترین تیترهای منفی</span>
                                                    <ul>
                                                        <li>ترانزیت 7.5 میلیون تن کالا از مرزهای جاده ای کشور</li>
                                                        <li>پیش بینی برنامه پنجم در بخش ترانزیت محقق شد</li>
                                                        <li>بررسی منطقی شدن نرخ عوارض آزادراه ها</li>
                                                        <li>کاهش 12 درصدی مرگ و میر دانش آموزان در در حاشیه جاده ها</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-top-35">
                                    <div class="col-md-12 col-sm-12">
                                        <div id="chart_container" style="min-width: 310px; direction: ltr; height: 400px; margin: 0 auto"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% end block container %}

{% block other_scripts %}
<script src="{{ static_url('plugins/Highchart/highcharts.js')}}"></script>
<script src="{{ static_url('plugins/Highchart/exporting.js')}}"></script>

<script>
$(function () {
    $('#chart_container').highcharts({
        chart: {
            type: 'column'
        },
        xAxis: {
            categories: ['شبکه حمل و نقل / شبکه ترانزیت', 'ترانزیرت کالا', 'ایمنی جاده', 'راهداری', 'هوشمندسازی/مدیریت جاده ها', 'توسعه و بهینه سازی راه ها', 'نوسازی ناوگان حمل و نقل', 'عوارض', 'جرایم رانندگی']
        },
        yAxis: {
            min: 0,
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        series: [{
            name: 'مثبت',
            data: [5, 3, 4, 7, 2, 8, 1, 6, 9]
        }, {
            name: 'منفی',
            data: [2, 2, 3, 2, 1, 5, 5, 7, 3]
        }, {
            name: 'خنثی',
            data: [3, 4, 4, 2, 5, 4, 9, 2, 1]
        }, {
            name: 'بدون جهت گیری',
            data: [3, 4, 4, 2, 5, 4, 9, 2, 1]
        }]
    });
});

</script>
{% end block other_scripts %}