{% extends '../admin_base.html' %}

{% block other_css %}

<style>
    .amcharts-chart-div a{
        display: none !important;
    }

    .highcharts-title, .highcharts-button, .highcharts-yaxis-title{
        display: none !important;
    }

    svg > text{
        display: none !important;
    }

    text{
        font-family: Yekan !important;
    }
</style>
{% end block other_css %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>لاگ و نمودار</span> </div>
                    <div class="panel-body">
                        <div class="show_box">
                            <div class="box_header">
                                <span>گزارش بولتن</span>
                            </div>
                            <div class="box_body">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <input type="radio" class="form_radio" value="statistic" {% if show == "statistic" %}checked{% end %} name="type-report-show">
                                        <span class="form_label vertical-align-3 margin-right-10">آمار</span>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <input type="radio" class="form_radio" value="chart" {% if show == "chart" %}checked{% end %} name="type-report-show">
                                        <span class="form_label vertical-align-3 margin-right-10">نمودار</span>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-3">
                                                <span class="form_label vertical-align-3 margin-right-10">گزارش به تفکیک</span>
                                            </div>
                                            <div class="col-md-9 col-sm-9">
                                                <select name="type-report-time" class="select">
                                                    <option {% if time == "hour" %}selected{% end %} value="hour">ساعتی</option>
                                                    <option {% if time == "day" %}selected{% end %} value="day">روزانه</option>
                                                    <option {% if time == "week" %}selected{% end %} value="week">هفته ای</option>
                                                    <option {% if time == "month" %}selected{% end %} value="month">ماهانه</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <button class="R_butt_blue show_content">نمایش</button>
                                    </div>
                                </div>
                                {% if show == 'statistic' %}
                                    <div class="table_show margin-top-20">
                                        <table class="table table-bordered source_news_table">
                                            <tr>
                                                <td>بازه زمانی</td>
                                                <td>کل اخبار</td>
                                                <td>سایت</td>
                                                <td>گروه</td>
                                                <td>موضوع</td>
                                            </tr>
                                            {% for i in result %}
                                                <tr>
                                                    <td>{{ i['_key'] }}</td>
                                                    <td><a class="open_details bolton">{{ i['count_all'] }}</a></td>
                                                    <td><a class="open_details news_part">{{ i['count_agency'] }}</a></td>
                                                    <td><a class="open_details transfer_news">{{ i['count_subject'] }}</a></td>
                                                    <td><a class="open_details transfer_news">{{ i['count_content'] }}</a></td>
                                                </tr>
                                            {% end %}
                                        </table>
                                        <div class="row">
                                            <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4">
                                                <div class="row">
                                                    {% if page > 1 %}
                                                        <div class="col-md-6 pull-right"><button class="R_butt_blue change-page" data-action="previous">{{ '<' }}</button></div>
                                                    {% end %}
                                                    <div class="col-md-6 pull-left"><button class="R_butt_blue change-page" data-action="next">{{ '>' }}</button></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="chart_show">
                                        <div class="row margin-20">
                                            <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4">
                                                <div class="row">
                                                    {% if page > 1 %}
                                                        <div class="col-md-6 pull-right"><button class="R_butt_blue change-page" data-action="previous">{{ '<' }}</button></div>
                                                    {% end %}
                                                    <div class="col-md-6 pull-left"><button class="R_butt_blue change-page" data-action="next">{{ '>' }}</button></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row margin-top-35">
                                            <div class="col-md-12 col-sm-12">
                                                <div id="chartdiv" style="direction: ltr ;height: 300px; width: 100%; font-size: 15pt; font-family: Yekan !important;"></div>
                                            </div>
                                        </div>
                                        <div class="row margin-top-35">
                                            <div class="col-md-12 col-sm-12">
                                                <div id="container" style="direction: ltr ;min-width: 310px; height: 400px; margin: 0 auto"></div>
                                            </div>
                                        </div>
                                    </div>
                                {% end %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade in" id="show_details" tabindex="-1" role="basic" aria-hidden="false">
        <div class="modal-dialog" style="font-family: Yekan;width: 60%">
            <div class="modal-content" style="border-radius: 7px !important; margin-top: 100px">
                <div class="show_box">
                    <div class="box_header">
                        <div class="row">
                            <div class="col-xs-11">
                                <span class="detail_title">تعداد بولتن</span>
                            </div>
                            <div class="col-xs-1">
                                <span class="cursor fa fa-times"
                                      style="font-size:12pt;color: #828282;margin-top: 5px;cursor: pointer"
                                      data-dismiss="modal" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="box_body" style="padding: 50px 10px">
                        <table class="table table-bordered source_news_table">
                            <tr>
                                <td class="bolton_name_title">نام بولتن</td>
                                <td class="news_part_count_title">تعداد بخش های خبری</td>
                                <td class="news_count_title">تعداد اخبار</td>
                            </tr>
                            <tr>
                                <td class="bolton_name">بولتن 1</td>
                                <td class="news_part_count">12</td>
                                <td class="news_count">50</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% if show == 'chart' %}
    <input type="hidden" name="dataProvider" value="{{ dataProvider }}">
    <input type="hidden" name="categories" value="{{ categories }}">
    <input type="hidden" name="series" value="{{ series }}">
{% end %}
{% end block container %}

{% block other_scripts %}
<script src="{{ static_url('plugins/amchart/amcharts.js')}}"></script>
<script src="{{ static_url('plugins/amchart/pie.js')}}"></script>
<script src="{{ static_url('plugins/amchart/light.js')}}"></script>
<script src="{{ static_url('plugins/Highchart/highcharts.js')}}"></script>
<script src="{{ static_url('plugins/Highchart/exporting.js')}}"></script>

<script>

$('.open_details').click(function(){
    if($(this).hasClass('bolton')){
        $('.detail_title').html('تعداد بولتن');
        $('.bolton_name_title').html('نام بولتن');
        $('.news_part_count_title').html('تعداد بخش های خبری');
        $('.news_count_title').html('تعداد اخبار');
        $('.bolton_name').html('بولتن 1');
        $('.news_part_count').html('12');
        $('.news_count').html('50');
    }
    if($(this).hasClass('news_part')){
        $('.detail_title').html('تعداد بخش های خبری');
        $('.bolton_name_title').html('نام بخش خبری');
        $('.news_part_count_title').html('نام بولتن');
        $('.news_count_title').html('تعداد اخبار');
        $('.bolton_name').html('بخش خبری 1');
        $('.news_part_count').html('بولتن 1');
        $('.news_count').html('40');
    }
    if($(this).hasClass('transfer_news')){
        $('.detail_title').html('تعداد اخبار منتقل شده به بولتن');
        $('.bolton_name_title').html('متن خبر');
        $('.news_part_count_title').html('نام بولتن');
        $('.news_count_title').html('نام بخش خبری');
        $('.bolton_name').html('خبر 1');
        $('.news_part_count').html('بولتن 1');
        $('.news_count').html('60');
    }
    $('#show_details').modal('show');
});
{% if show == 'chart' %}
    var chart = AmCharts.makeChart( "chartdiv", {
        "type": "pie",
        "theme": "light",
        "dataProvider": jQuery.parseJSON($('input[name=dataProvider]').val()),
        "titleField": "title",
        "valueField": "value",
        "labelRadius": 8,

        "radius": "42%",
        "innerRadius": "60%",
        "labelText": "[[title]]",
        "export": {
            "enabled": true
        }
    });

    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            xAxis: {
                categories: jQuery.parseJSON($('input[name=categories]').val()),
                crosshair: true
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: jQuery.parseJSON($('input[name=series]').val())
        });
    });
{% end %}

$('.show_content').click(function(){
    var _show = $('input[name=type-report-show]:checked').val();
    var _time = $('select[name=type-report-time]').select2("val");
    var _page = 1;
    location.href = '{{ reverse_url('admin:log_and_charts:problem_news_log_by_page', '__show__', '__time__', '__page__') }}'
            .replace(/__show__/g, _show).replace(/__time__/g, _time).replace(/__page__/g, _page);
});
$(document).on('click', '.change-page', function(e){
    var elm = $(e.target);
    var action = elm.attr('data-action');
    var _page = parseInt("{{ page }}");
    if(action == 'next'){
        _page ++;
    }else{
        _page --;
    }
    location.href = '{{ reverse_url('admin:log_and_charts:problem_news_log_by_page', '__show__', '__time__', '__page__') }}'
            .replace(/__show__/g, '{{ show }}').replace(/__time__/g, '{{ time }}').replace(/__page__/g, _page);
});
</script>
{% end block other_scripts %}