@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'roya';
    src: url('../fonts/BRoya.eot?#') format('eot'),
         url('../fonts/BRoya.woff') format('woff'),
         url('../fonts/BRoya.ttf') format('truetype');
}
@font-face {
    font-family: 'yekan';
    src: url('../fonts/BYekan.eot?#') format('eot'),
         url('../fonts/BYekan.woff') format('woff'),
         url('../fonts/BYekan.ttf') format('truetype');
}