{% extends '../admin_base.html' %}

{% block other_css %}

<style>
    .amcharts-chart-div a{
        display: none !important;
    }

    .highcharts-title, .highcharts-button, .highcharts-yaxis-title{
        display: none !important;
    }

    svg > text{
        display: none !important;
    }

    text{
        font-family: Yekan !important;
    }
</style>
{% end block other_css %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>لاگ و نمودار</span> </div>
                    <div class="panel-body">
                        <div class="show_box">
                            <div class="box_header">
                                <span>گزارش بولتن</span>
                            </div>
                            <div class="box_body">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <input type="radio" class="form_radio" value="chart" checked name="show_info">
                                        <span class="form_label vertical-align-3 margin-right-10">نمودار</span>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <input type="radio" class="form_radio" value="statistic" name="show_info">
                                        <span class="form_label vertical-align-3 margin-right-10">آمار</span>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-3">
                                                <span class="form_label vertical-align-3 margin-right-10">گزارش به تفکیک</span>
                                            </div>
                                            <div class="col-md-9 col-sm-9">
                                                <select class="select"><option>ساعتی</option><option>هفته ای</option><option>ماهانه</option></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <button class="R_butt_blue show_content">نمایش</button>
                                    </div>
                                </div>
                                <div class="table_show margin-top-20 display-none">
                                    <table class="table table-bordered source_news_table">
                                        <tr>
                                            <td></td>
                                            <td>تعداد بولتن</td>
                                            <td>تعداد بخش های خبری</td>
                                            <td>تعداد اخبار منتقل شده به بولتن</td>
                                        </tr>
                                        <tr>
                                            <td>ساعت: 24</td>
                                            <td><a class="open_details bolton">56</a></td>
                                            <td><a class="open_details news_part">3</a></td>
                                            <td><a class="open_details transfer_news">30</a></td>
                                        </tr>
                                        <tr>
                                            <td>ساعت: 23</td>
                                            <td><a class="open_details bolton">33</a></td>
                                            <td><a class="open_details news_part">5</a></td>
                                            <td><a class="open_details transfer_news">17</a></td>
                                        </tr>
                                        <tr>
                                            <td>ساعت: 22</td>
                                            <td><a class="open_details bolton">17</a></td>
                                            <td><a class="open_details news_part">41</a></td>
                                            <td><a class="open_details transfer_news">27</a></td>
                                        </tr>
                                        <tr>
                                            <td>ساعت: 21</td>
                                            <td><a class="open_details bolton">10</a></td>
                                            <td><a class="open_details news_part">23</a></td>
                                            <td><a class="open_details transfer_news">12</a></td>
                                        </tr>
                                        <tr>
                                            <td>ساعت: 20</td>
                                            <td><a class="open_details bolton">33</a></td>
                                            <td><a class="open_details news_part">5</a></td>
                                            <td><a class="open_details transfer_news">17</a></td>
                                        </tr>
                                        <tr>
                                            <td>ساعت: 19</td>
                                            <td><a class="open_details bolton">33</a></td>
                                            <td><a class="open_details news_part">5</a></td>
                                            <td><a class="open_details transfer_news">17</a></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="chart_show">
                                    <div class="row margin-top-35">
                                        <div class="col-md-12 col-sm-12">
                                            <div id="chartdiv" style="direction: ltr ;height: 300px; width: 100%; font-size: 15pt; font-family: Yekan !important;"></div>
                                        </div>
                                    </div>
                                    <div class="row margin-top-35">
                                        <div class="col-md-12 col-sm-12">
                                            <div id="container" style="direction: ltr ;min-width: 310px; height: 400px; margin: 0 auto"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade in" id="show_details" tabindex="-1" role="basic" aria-hidden="false">
        <div class="modal-dialog" style="font-family: Yekan;width: 60%">
            <div class="modal-content" style="border-radius: 7px !important; margin-top: 100px">
                <div class="show_box">
                    <div class="box_header">
                        <div class="row">
                            <div class="col-xs-11">
                                <span class="detail_title">تعداد بولتن</span>
                            </div>
                            <div class="col-xs-1">
                                <span class="cursor fa fa-times"
                                      style="font-size:12pt;color: #828282;margin-top: 5px;cursor: pointer"
                                      data-dismiss="modal" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="box_body" style="padding: 50px 10px">
                        <table class="table table-bordered source_news_table">
                            <tr>
                                <td class="bolton_name_title">نام بولتن</td>
                                <td class="news_part_count_title">تعداد بخش های خبری</td>
                                <td class="news_count_title">تعداد اخبار</td>
                            </tr>
                            <tr>
                                <td class="bolton_name">بولتن 1</td>
                                <td class="news_part_count">12</td>
                                <td class="news_count">50</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% end block container %}

{% block other_scripts %}
<script src="{{ static_url('plugins/amchart/amcharts.js')}}"></script>
<script src="{{ static_url('plugins/amchart/pie.js')}}"></script>
<script src="{{ static_url('plugins/amchart/light.js')}}"></script>
<script src="{{ static_url('plugins/Highchart/highcharts.js')}}"></script>
<script src="{{ static_url('plugins/Highchart/exporting.js')}}"></script>

<script>

$('.open_details').click(function(){
    if($(this).hasClass('bolton')){
        $('.detail_title').html('تعداد بولتن');
        $('.bolton_name_title').html('نام بولتن');
        $('.news_part_count_title').html('تعداد بخش های خبری');
        $('.news_count_title').html('تعداد اخبار');
        $('.bolton_name').html('بولتن 1');
        $('.news_part_count').html('12');
        $('.news_count').html('50');
    }
    if($(this).hasClass('news_part')){
        $('.detail_title').html('تعداد بخش های خبری');
        $('.bolton_name_title').html('نام بخش خبری');
        $('.news_part_count_title').html('نام بولتن');
        $('.news_count_title').html('تعداد اخبار');
        $('.bolton_name').html('بخش خبری 1');
        $('.news_part_count').html('بولتن 1');
        $('.news_count').html('40');
    }
    if($(this).hasClass('transfer_news')){
        $('.detail_title').html('تعداد اخبار منتقل شده به بولتن');
        $('.bolton_name_title').html('متن خبر');
        $('.news_part_count_title').html('نام بولتن');
        $('.news_count_title').html('نام بخش خبری');
        $('.bolton_name').html('خبر 1');
        $('.news_part_count').html('بولتن 1');
        $('.news_count').html('60');
    }
    $('#show_details').modal('show');
});

var chart = AmCharts.makeChart( "chartdiv", {
    "type": "pie",
    "theme": "light",
    "dataProvider": [{
    "title": " بولتن",
    "value": 4852
    }, {
    "title": " بخش های خبری",
    "value": 9899
    }, {
    "title": " اخبار منتقل شده به بولتن",
    "value": 9899
    }],
    "titleField": "title",
    "valueField": "value",
    "labelRadius": 8,

    "radius": "42%",
    "innerRadius": "60%",
    "labelText": "[[title]]",
    "export": {
        "enabled": true
    }
});

$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        xAxis: {
            categories: ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19'
            , '20','21','22','23','24'],
            crosshair: true
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'تعداد بولتن',
            data: [49.9, 71.5, 106.4, 129.2,49.9, 71.5, 106.4, 129.2,49.9, 71.5, 106.4, 129.2,49.9, 71.5, 106.4, 129.2,49.9, 71.5, 106.4, 129.2,49.9, 71.5, 106.4, 129.2]

        }, {
            name: 'تعداد بخش های خبری',
            data: [49.9, 71.5, 106.4, 129.2,49.9, 71.5, 106.4, 129.2,49.9, 71.5, 106.4, 129.2,49.9, 71.5, 106.4, 129.2,49.9, 71.5, 106.4, 129.2,49.9, 71.5, 106.4, 129.2]

        }, {
            name: 'تعداد اخبار منتقل شده به بولتن',
            data: [49.9, 71.5, 106.4, 129.2,49.9, 71.5, 106.4, 129.2,49.9, 71.5, 106.4, 129.2,49.9, 71.5, 106.4, 129.2,49.9, 71.5, 106.4, 129.2,49.9, 71.5, 106.4, 129.2]

        }]
    });
});

$('.show_content').click(function(){
    if($('.form_radio:checked').val() == 'statistic'){
        $('.chart_show').addClass('display-none');
        $('.table_show').removeClass('display-none');
    }
    else if($('.form_radio:checked').val() == 'chart'){
        $('.table_show').addClass('display-none');
        $('.chart_show').removeClass('display-none');
    }
});
</script>
{% end block other_scripts %}