.menu-font {
    font-family: Yekan;
    font-size: 12pt;
}

.text-font {
    font-family: Yekan;
    font-size: 12pt;
}

.print-font {
    font-family: Mitra;
    font-size: 12pt;
}

.titr-list-show-font {
    font-family: Mitra;
    font-size: 12pt;
}

.titr-detail-show-font {
    font-family: Mitra;
    font-size: 12pt;
}